In [4]:
import pandas as pd
import numpy as np

In [5]:
log_df = pd.read_csv("C:/Users/HELIOS-300/Downloads/do_log_final_behavior(in).csv")
log_df['date'] = pd.to_datetime({
    'year': pd.to_numeric(log_df['start_year'], errors='coerce'),
    'month': pd.to_numeric(log_df['start_month'], errors='coerce'),
    'day': pd.to_numeric(log_df['start_day'], errors='coerce'),
}, errors='coerce').dt.strftime('%#m/%#d/%Y')
log_df.drop(columns=["start_month", "start_day", "start_year"], inplace=True)
log_df2 = log_df[["id", "do", "date", "start_time"]]
log_df2.head()

    id  do       date   start_time
0  102   1  7/24/2019   8:20:19 AM
1  102   2  7/25/2019  12:42:08 PM
2  116   1  8/20/2019   8:08:45 AM
3  116   2  8/21/2019  11:09:47 AM
4  117   1  8/20/2019   3:17:46 PM