In [142]:
import pandas as pd
import numpy as np

In [143]:
_102_01_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - Step_102_01_MD - Event Logs.xlsx")
_102_01_df["id"] = 102
_102_01_df["obs"] = 1
_102_01_df = _102_01_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_102_01_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  102    1   0 days 00:00:01       Codable  State start
1  102    1   0 days 00:00:05          step  State point
2  102    1   0 days 00:00:06          step  State point
3  102    1   0 days 00:00:16       Codable   State stop
4  102    1   0 days 00:00:16  Non-codeable  State start

In [144]:
_102_02_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - step_102_02_SB - Event Logs.xlsx")
_102_02_df["id"] = 102
_102_02_df["obs"] = 2
_102_02_df = _102_02_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_102_02_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  102    2   0 days 00:00:00  Non-codeable  State start
1  102    2   0 days 00:00:09  Non-codeable   State stop
2  102    2   0 days 00:00:09       Codable  State start
3  102    2   0 days 00:00:10          step  State point
4  102    2   0 days 00:00:10          step  State point

In [145]:
_116_01_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - Step_116_01_MD - Event Logs.xlsx")
_116_01_df["id"] = 116
_116_01_df["obs"] = 1
_116_01_df = _116_01_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_116_01_df.head()

    id  obs Time_Relative_hms Behavior   Event_Type
0  116    1   0 days 00:00:04  Codable  State start
1  116    1   0 days 00:00:16     step  State point
2  116    1   0 days 00:00:17     step  State point
3  116    1   0 days 00:00:19     step  State point
4  116    1   0 days 00:00:20     step  State point

In [146]:
_117_01_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - Step_117_01_MD - Event Logs.xlsx")
_117_01_df["id"] = 117
_117_01_df["obs"] = 1
_117_01_df = _117_01_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_117_01_df.head()

    id  obs Time_Relative_hms Behavior   Event_Type
0  117    1   0 days 00:00:18  Codable  State start
1  117    1   0 days 00:05:42     step  State point
2  117    1   0 days 00:05:42     step  State point
3  117    1   0 days 00:05:43     step  State point
4  117    1   0 days 00:05:44     step  State point

In [147]:
_117_02_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - Step_117_02_MD - Event Logs.xlsx")
_117_02_df["id"] = 117
_117_02_df["obs"] = 2
_117_02_df = _117_02_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_117_02_df.head()

    id  obs Time_Relative_hms Behavior   Event_Type
0  117    2   0 days 00:00:39  Codable  State start
1  117    2   0 days 01:42:58  Codable   State stop
2  117    2   0 days 01:42:58  Codable  State start
3  117    2   0 days 01:53:35     step  State point
4  117    2   0 days 01:53:37     step  State point

In [148]:
_122_01_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - Step_122_01_NY - Event Logs.xlsx")
_122_01_df["id"] = 122
_122_01_df["obs"] = 1
_122_01_df = _122_01_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_122_01_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  122    1   0 days 00:00:00  Non-codeable  State start
1  122    1   0 days 00:01:06  Non-codeable   State stop
2  122    1   0 days 00:01:06       Codable  State start
3  122    1   0 days 00:01:07          step  State point
4  122    1   0 days 00:01:08          step  State point

In [149]:
_122_02_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - Step_122_02_ED - Event Logs.xlsx")
_122_02_df["id"] = 122
_122_02_df["obs"] = 2
_122_02_df = _122_02_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_122_02_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  122    2   0 days 00:00:01  Non-codeable  State start
1  122    2   0 days 00:00:11  Non-codeable   State stop
2  122    2   0 days 00:00:11       Codable  State start
3  122    2   0 days 00:00:11          step  State point
4  122    2   0 days 00:00:12          step  State point

In [150]:
_124_01_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - Step_124_01_NY - Event Logs.xlsx")
_124_01_df["id"] = 124
_124_01_df["obs"] = 1
_124_01_df = _124_01_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_124_01_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  124    1   0 days 00:00:00  Non-codeable  State start
1  124    1   0 days 00:00:14  Non-codeable   State stop
2  124    1   0 days 00:00:14       Codable  State start
3  124    1   0 days 00:25:05          step  State point
4  124    1   0 days 00:25:15          step  State point

In [151]:
_124_02_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - Step_124_02_NY - Event Logs.xlsx")
_124_02_df["id"] = 124
_124_02_df["obs"] = 2
_124_02_df = _124_02_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_124_02_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  124    2   0 days 00:00:00  Non-codeable  State start
1  124    2   0 days 00:00:26  Non-codeable   State stop
2  124    2   0 days 00:00:26       Codable  State start
3  124    2   0 days 00:22:11          step  State point
4  124    2   0 days 00:22:12          step  State point

In [152]:
_126_02_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - Step_126_02_ED - Event Logs.xlsx")
_126_02_df["id"] = 126
_126_02_df["obs"] = 2
_126_02_df = _126_02_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_126_02_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  126    2   0 days 00:00:00  Non-codeable  State start
1  126    2   0 days 00:00:10  Non-codeable   State stop
2  126    2   0 days 00:00:10       Codable  State start
3  126    2   0 days 00:01:42       Codable   State stop
4  126    2   0 days 00:01:42  Non-codeable  State start

In [153]:
_127_01_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - Step_127_01_SB - Event Logs.xlsx")
_127_01_df["id"] = 127
_127_01_df["obs"] = 1
_127_01_df = _127_01_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_127_01_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  127    1   0 days 00:00:00  Non-codeable  State start
1  127    1   0 days 00:00:06  Non-codeable   State stop
2  127    1   0 days 00:00:06       Codable  State start
3  127    1   0 days 00:00:07          step  State point
4  127    1   0 days 00:00:08          step  State point

In [154]:
_127_02_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - Step_127-02_KY- Event Logs.xlsx")
_127_02_df["id"] = 127
_127_02_df["obs"] = 2
_127_02_df = _127_02_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_127_02_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  127    2   0 days 00:00:00  Non-codeable  State start
1  127    2   0 days 00:00:14  Non-codeable   State stop
2  127    2   0 days 00:00:14       Codable  State start
3  127    2   0 days 00:24:44          step  State point
4  127    2   0 days 00:24:45          step  State point

In [155]:
_128_01_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - Step_128-01_KY - Event Logs.xlsx")
_128_01_df["id"] = 128
_128_01_df["obs"] = 1
_128_01_df = _128_01_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_128_01_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  128    1   0 days 00:00:00  Non-codeable  State start
1  128    1   0 days 00:00:10  Non-codeable   State stop
2  128    1   0 days 00:00:10       Codable  State start
3  128    1   0 days 00:00:14          step  State point
4  128    1   0 days 00:00:14          step  State point

In [156]:
_128_02_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - Step_128-02_KY - Event Logs.xlsx")
_128_02_df["id"] = 128
_128_02_df["obs"] = 2
_128_02_df = _128_02_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_128_02_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  128    2   0 days 00:00:00  Non-codeable  State start
1  128    2   0 days 00:00:07  Non-codeable   State stop
2  128    2   0 days 00:00:07       Codable  State start
3  128    2   0 days 01:19:24       Codable   State stop
4  128    2   0 days 01:19:24  Non-codeable  State start

In [157]:
_129_01_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - Step_129_01_ED - Event Logs.xlsx")
_129_01_df["id"] = 129
_129_01_df["obs"] = 1
_129_01_df = _129_01_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_129_01_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  129    1   0 days 00:00:01  Non-codeable  State start
1  129    1   0 days 00:00:15  Non-codeable   State stop
2  129    1   0 days 00:00:15       Codable  State start
3  129    1   0 days 00:00:16          step  State point
4  129    1   0 days 00:00:16          step  State point

In [158]:
_129_02_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - Step_129_02_KY - Event Logs.xlsx")
_129_02_df["id"] = 129
_129_02_df["obs"] = 2
_129_02_df = _129_02_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_129_02_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  129    2   0 days 00:00:00  Non-codeable  State start
1  129    2   0 days 00:00:15  Non-codeable   State stop
2  129    2   0 days 00:00:15       Codable  State start
3  129    2   0 days 00:00:20          step  State point
4  129    2   0 days 00:00:25          step  State point

In [159]:
_130_01_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - Step_130_01_SB - Event Logs.xlsx")
_130_01_df["id"] = 130
_130_01_df["obs"] = 1
_130_01_df = _130_01_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_130_01_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  130    1   0 days 00:00:00  Non-codeable  State start
1  130    1   0 days 00:00:14  Non-codeable   State stop
2  130    1   0 days 00:00:14       Codable  State start
3  130    1   0 days 00:00:35          step  State point
4  130    1   0 days 00:00:35          step  State point

In [160]:
_130_02_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - step_130_02_SB - Event Logs.xlsx")
_130_02_df["id"] = 130
_130_02_df["obs"] = 2
_130_02_df = _130_02_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_130_02_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  130    2   0 days 00:00:01  Non-codeable  State start
1  130    2   0 days 00:00:11  Non-codeable   State stop
2  130    2   0 days 00:00:11       Codable  State start
3  130    2   0 days 00:00:32          step  State point
4  130    2   0 days 00:00:33          step  State point

In [161]:
_131_01_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - step_131_01_SB - Event Logs.xlsx")
_131_01_df["id"] = 131
_131_01_df["obs"] = 1
_131_01_df = _131_01_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_131_01_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  131    1   0 days 00:00:00  Non-codeable  State start
1  131    1   0 days 00:00:23  Non-codeable   State stop
2  131    1   0 days 00:00:23       Codable  State start
3  131    1   0 days 00:00:27          step  State point
4  131    1   0 days 00:00:52          step  State point

In [162]:
_132_01_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - Step_132_01_MD_KY - Event Logs.xlsx")
_132_01_df["id"] = 132
_132_01_df["obs"] = 1
_132_01_df = _132_01_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_132_01_df.head()

    id  obs Time_Relative_hms Behavior   Event_Type
0  132    1   0 days 00:00:01  Codable  State start
1  132    1   0 days 00:00:52     step  State point
2  132    1   0 days 00:02:13     step  State point
3  132    1   0 days 00:02:14     step  State point
4  132    1   0 days 00:02:15     step  State point

In [163]:
_132_02_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - step_132_02_SB - Event Logs.xlsx")
_132_02_df["id"] = 132
_132_02_df["obs"] = 2
_132_02_df = _132_02_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_132_02_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  132    2   0 days 00:00:01  Non-codeable  State start
1  132    2   0 days 00:00:17  Non-codeable   State stop
2  132    2   0 days 00:00:17       Codable  State start
3  132    2   0 days 00:00:25          step  State point
4  132    2   0 days 00:00:26          step  State point

In [164]:
_133_01_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - Step_133-01_KY - Event Logs.xlsx")
_133_01_df["id"] = 133
_133_01_df["obs"] = 1
_133_01_df = _133_01_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_133_01_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  133    1   0 days 00:00:00  Non-codeable  State start
1  133    1   0 days 00:00:07  Non-codeable   State stop
2  133    1   0 days 00:00:07       Codable  State start
3  133    1   0 days 00:00:30          step  State point
4  133    1   0 days 00:00:32          step  State point

In [165]:
_133_02_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - step_133_02_SB - Event Logs.xlsx")
_133_02_df["id"] = 133
_133_02_df["obs"] = 2
_133_02_df = _133_02_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_133_02_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  133    2   0 days 00:00:01  Non-codeable  State start
1  133    2   0 days 00:00:23  Non-codeable   State stop
2  133    2   0 days 00:00:23       Codable  State start
3  133    2   0 days 00:52:16          step  State point
4  133    2   0 days 00:52:17          step  State point

In [166]:
_134_01_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - Step_134_01_ED - Event Logs.xlsx")
_134_01_df["id"] = 134
_134_01_df["obs"] = 1
_134_01_df = _134_01_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_134_01_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  134    1   0 days 00:00:01  Non-codeable  State start
1  134    1   0 days 00:00:08  Non-codeable   State stop
2  134    1   0 days 00:00:08       Codable  State start
3  134    1   0 days 00:00:25          step  State point
4  134    1   0 days 00:00:26          step  State point

In [167]:
_135_01_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - Step_135_01_GB_recode - Event Logs.xlsx")
_135_01_df["id"] = 135
_135_01_df["obs"] = 1
_135_01_df = _135_01_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_135_01_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  135    1   0 days 00:00:00  Non-codeable  State start
1  135    1   0 days 00:52:52  Non-codeable   State stop
2  135    1   0 days 00:52:52       Codable  State start
3  135    1   0 days 00:52:52          step  State point
4  135    1   0 days 00:52:53          step  State point

In [168]:
_135_02_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - Step_135-02_KY - Event Logs.xlsx")
_135_02_df["id"] = 135
_135_02_df["obs"] = 2
_135_02_df = _135_02_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_135_02_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  135    2   0 days 00:00:00  Non-codeable  State start
1  135    2   0 days 00:00:12  Non-codeable   State stop
2  135    2   0 days 00:00:12       Codable  State start
3  135    2   0 days 00:06:38       Codable   State stop
4  135    2   0 days 00:06:38  Non-codeable  State start

In [169]:
_136_01_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - Step_136_01_ED - Event Logs.xlsx")
_136_01_df["id"] = 136
_136_01_df["obs"] = 1
_136_01_df = _136_01_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_136_01_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  136    1   0 days 00:00:00  Non-codeable  State start
1  136    1   0 days 00:43:49  Non-codeable   State stop
2  136    1   0 days 00:43:49       Codable  State start
3  136    1   0 days 00:43:49          step  State point
4  136    1   0 days 00:43:51          step  State point

In [170]:
_138_01_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - Step_138-01_KY - Event Logs.xlsx")
_138_01_df["id"] = 138
_138_01_df["obs"] = 1
_138_01_df = _138_01_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_138_01_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  138    1   0 days 00:00:00  Non-codeable  State start
1  138    1   0 days 00:31:09  Non-codeable   State stop
2  138    1   0 days 00:31:09       Codable  State start
3  138    1   0 days 00:31:10          step  State point
4  138    1   0 days 00:31:10          step  State point

In [171]:
_140_01_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - Step_140_01_ED - Event Logs.xlsx")
_140_01_df["id"] = 140
_140_01_df["obs"] = 1
_140_01_df = _140_01_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_140_01_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  140    1   0 days 00:00:00  Non-codeable  State start
1  140    1   0 days 00:00:27  Non-codeable   State stop
2  140    1   0 days 00:00:27       Codable  State start
3  140    1   0 days 00:00:33          step  State point
4  140    1   0 days 00:00:34          step  State point

In [172]:
_140_02_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - Step_140_02_ED - Event Logs.xlsx")
_140_02_df["id"] = 140
_140_02_df["obs"] = 2
_140_02_df = _140_02_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_140_02_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  140    2   0 days 00:00:01  Non-codeable  State start
1  140    2   0 days 00:00:11  Non-codeable   State stop
2  140    2   0 days 00:00:11       Codable  State start
3  140    2   0 days 00:20:04       Codable   State stop
4  140    2   0 days 00:20:04  Non-codeable  State start

In [173]:
_141_01_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - Step_141_01_KY - Event Logs.xlsx")
_141_01_df["id"] = 141
_141_01_df["obs"] = 1
_141_01_df = _141_01_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_141_01_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  141    1   0 days 00:00:00  Non-codeable  State start
1  141    1   0 days 00:00:11  Non-codeable   State stop
2  141    1   0 days 00:00:11       Codable  State start
3  141    1   0 days 00:02:09          step  State point
4  141    1   0 days 00:02:33          step  State point

In [174]:
_141_02_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - Step_141_02_KY - Event Logs.xlsx")
_141_02_df["id"] = 141
_141_02_df["obs"] = 2
_141_02_df = _141_02_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_141_02_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  141    2   0 days 00:00:00  Non-codeable  State start
1  141    2   0 days 00:00:08  Non-codeable   State stop
2  141    2   0 days 00:00:08       Codable  State start
3  141    2   0 days 00:00:09          step  State point
4  141    2   0 days 00:00:10          step  State point

In [175]:
_143_01_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - Step_143_01_KY - Event Logs.xlsx")
_143_01_df["id"] = 143
_143_01_df["obs"] = 1
_143_01_df = _143_01_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_143_01_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  143    1   0 days 00:00:00  Non-codeable  State start
1  143    1   0 days 00:00:20  Non-codeable   State stop
2  143    1   0 days 00:00:20       Codable  State start
3  143    1   0 days 00:00:20          step  State point
4  143    1   0 days 00:00:21          step  State point

In [176]:
_143_02_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - step_143_2_GB_recode - Event Logs.xlsx")
_143_02_df["id"] = 143
_143_02_df["obs"] = 2
_143_02_df = _143_02_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_143_02_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  143    2   0 days 00:00:01  Non-codeable  State start
1  143    2   0 days 00:00:03  Non-codeable   State stop
2  143    2   0 days 00:00:03       Codable  State start
3  143    2   0 days 00:00:03          step  State point
4  143    2   0 days 00:00:04          step  State point

In [177]:
_144_01_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - step_144_01_SB - Event Logs.xlsx")
_144_01_df["id"] = 144
_144_01_df["obs"] = 1
_144_01_df = _144_01_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_144_01_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  144    1   0 days 00:00:00  Non-codeable  State start
1  144    1   0 days 00:00:17  Non-codeable   State stop
2  144    1   0 days 00:00:17       Codable  State start
3  144    1   0 days 00:26:49          step  State point
4  144    1   0 days 00:26:49          step  State point

In [178]:
_144_02_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - step_144_02_SB - Event Logs.xlsx")
_144_02_df["id"] = 144
_144_02_df["obs"] = 2
_144_02_df = _144_02_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_144_02_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  144    2   0 days 00:00:03  Non-codeable  State start
1  144    2   0 days 00:00:08  Non-codeable   State stop
2  144    2   0 days 00:00:08       Codable  State start
3  144    2   0 days 00:00:08          step  State point
4  144    2   0 days 00:00:10       Codable   State stop

In [179]:
_150_01_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - step_150_01_SB - Event Logs.xlsx")
_150_01_df["id"] = 150
_150_01_df["obs"] = 1
_150_01_df = _150_01_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_150_01_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  150    1   0 days 00:00:02  Non-codeable  State start
1  150    1   0 days 00:00:07  Non-codeable   State stop
2  150    1   0 days 00:00:07       Codable  State start
3  150    1   0 days 00:11:15       Codable   State stop
4  150    1   0 days 00:11:15  Non-codeable  State start

In [182]:
_150_02_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - step_150_02_SB - Event Logs.xlsx")
_150_02_df["id"] = 150
_150_02_df["obs"] = 2
_150_02_df = _150_02_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_150_02_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  150    2   0 days 00:00:01  Non-codeable  State start
1  150    2   0 days 00:00:12  Non-codeable   State stop
2  150    2   0 days 00:00:12       Codable  State start
3  150    2   0 days 00:06:31          step  State point
4  150    2   0 days 00:06:32          step  State point

In [183]:
_154_02_df = pd.read_excel("C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps/Stepcount_10112024 - Step_154-02_KY - Event Logs.xlsx")
_154_02_df["id"] = 154
_154_02_df["obs"] = 2
_154_02_df = _154_02_df[["id","obs", "Time_Relative_hms", "Behavior", "Event_Type"]]
_154_02_df.head()

    id  obs Time_Relative_hms      Behavior   Event_Type
0  154    2   0 days 00:00:00  Non-codeable  State start
1  154    2   0 days 00:00:10  Non-codeable   State stop
2  154    2   0 days 00:00:10       Codable  State start
3  154    2   0 days 00:00:17          step  State point
4  154    2   0 days 00:00:18          step  State point

In [193]:
# combine all dataframes into one combined dataframe
combined_df = pd.concat([
    _102_01_df, _102_02_df,
    _116_01_df,
    _117_01_df, _117_02_df,
    _122_01_df, _122_02_df,
    _124_01_df, _124_02_df,
    _126_02_df,
    _127_01_df, _127_02_df,
    _128_01_df, _128_02_df,
    _129_01_df, _129_02_df,
    _130_01_df, _130_02_df,
    _131_01_df,
    _132_01_df, _132_02_df,
    _133_01_df, _133_02_df,
    _134_01_df,
    _135_01_df, _135_02_df,
    _136_01_df,
    _138_01_df,
    _140_01_df, _140_02_df,
    _141_01_df, _141_02_df,
    _143_01_df, _143_02_df,
    _144_01_df, _144_02_df,
    _150_01_df, _150_02_df,
    _154_02_df
], ignore_index=True)

# Rename Time_Relative_hms to rel_time
combined_df = combined_df.rename(columns={'Time_Relative_hms': 'rel_time'})

# Convert timedelta to HH:MM:SS format (remove "0 days " prefix)
combined_df['rel_time'] = combined_df['rel_time'].astype(str).str.replace('0 days ', '', regex=False)

# Remove all rows where Event_Type == "State stop"
combined_df = combined_df[combined_df['Event_Type'] != 'State stop']

# Fill gaps in rel_time for each (id, obs) group
# Convert rel_time to total seconds for easier manipulation
def time_to_seconds(time_str):
    """Convert HH:MM:SS string to total seconds"""
    # Handle NaN/NaT values
    if pd.isna(time_str) or time_str == 'NaT' or time_str == '':
        return None
    parts = time_str.split(':')
    return int(parts[0]) * 3600 + int(parts[1]) * 60 + int(parts[2])

def seconds_to_time(seconds):
    """Convert total seconds to HH:MM:SS string"""
    hours = seconds // 3600
    minutes = (seconds % 3600) // 60
    secs = seconds % 60
    return f"{hours:02d}:{minutes:02d}:{secs:02d}"

# Convert rel_time to seconds
combined_df['rel_time_seconds'] = combined_df['rel_time'].apply(time_to_seconds)

# Remove rows with invalid/null times
combined_df = combined_df[combined_df['rel_time_seconds'].notna()]

# Group by (id, obs) and fill gaps
filled_dfs = []
for (id_val, obs_val), group in combined_df.groupby(['id', 'obs']):
    # Get min and max seconds for this group
    min_sec = int(group['rel_time_seconds'].min())
    max_sec = int(group['rel_time_seconds'].max())
    
    # Create complete sequence of seconds
    complete_seconds = pd.DataFrame({
        'rel_time_seconds': range(min_sec, max_sec + 1),
        'id': id_val,
        'obs': obs_val
    })
    
    # Merge with existing data
    merged = complete_seconds.merge(
        group[['rel_time_seconds', 'Behavior', 'Event_Type']],
        on='rel_time_seconds',
        how='left'
    )
    
    # Forward fill Behavior and Event_Type
    merged['Behavior'] = merged['Behavior'].ffill()
    merged['Event_Type'] = merged['Event_Type'].ffill()
    
    filled_dfs.append(merged)

# Combine all filled groups
combined_df = pd.concat(filled_dfs, ignore_index=True)

# Convert back to HH:MM:SS format
combined_df['rel_time'] = combined_df['rel_time_seconds'].apply(seconds_to_time)

# Drop the temporary seconds column and reorder columns
combined_df = combined_df[['id', 'obs', 'rel_time', 'Behavior', 'Event_Type']]

combined_df.head(20)

     id  obs  rel_time      Behavior   Event_Type
0   102    1  00:00:01       Codable  State start
1   102    1  00:00:02       Codable  State start
2   102    1  00:00:03       Codable  State start
3   102    1  00:00:04       Codable  State start
4   102    1  00:00:05          step  State point
5   102    1  00:00:06          step  State point
6   102    1  00:00:07          step  State point
7   102    1  00:00:08          step  State point
8   102    1  00:00:09          step  State point
9   102    1  00:00:10          step  State point
10  102    1  00:00:11          step  State point
11  102    1  00:00:12          step  State point
12  102    1  00:00:13          step  State point
13  102    1  00:00:14          step  State point
14  102    1  00:00:15          step  State point
15  102    1  00:00:16  Non-codeable  State start
16  102    1  00:00:17  Non-codeable  State start
17  102    1  00:00:18  Non-codeable  State start
18  102    1  00:00:19  Non-codeable  State start
19  102    1  00:00:20  Non-codeable  State start