In [5]:
import pandas as pd
import numpy as np
import openpyxl
import os
import re
from datetime import datetime, timedelta

In [6]:
log_final = pd.read_csv("C:/Users/HELIOS-300/Desktop/Data/do_log_final_steps.csv")
log_final

,id,do,start_month,start_day,start_year,start_time,stop_time,duration_hrs,duation_min
0,102,1,7,24,2019,8:20:19 AM,11:21:13 AM,3:00:54,180:54:00
1,102,2,7,25,2019,12:41:52 PM,3:41:44 PM,2:59:52,179:52:00
2,116,1,8,20,2019,8:08:45 AM,11:09:00 AM,3:00:15,180:15:00
3,116,2,8,21,2019,11:09:47 AM,1:28:00 PM,2:18:13,138:13:00
4,117,1,8,20,2019,3:17:46 PM,6:18:00 PM,3:00:14,180:14:00
5,117,2,8,21,2019,7:11:45 AM,10:13:00 AM,3:01:15,181:15:00
6,122,1,8,28,2019,10:06:40 AM,1:06:59 PM,3:00:19,180:19:00
7,122,2,8,29,2019,3:19:51 PM,6:23:00 PM,3:03:09,183:09:00
8,124,1,8,28,2019,2:58:51 PM,5:58:47 PM,2:59:56,179:56:00
9,124,2,8,29,2019,9:30:39 AM,12:30:39 PM,3:00:00,180:00:00
10,126,1,9,2,2019,11:14:51 AM,2:15:00 PM,3:00:09,180:09:00
11,126,2,9,6,2019,10:35:53 AM,1:35:53 PM,3:00:00,180:00:00
12,127,1,9,5,2019,4:07:56 PM,7:08:00 PM,3:00:04,180:04:00
13,127,2,9,9,2019,10:55:56 AM,1:55:56 PM,3:00:00,180:00:00
14,128,1,9,6,2019,6:59:51 AM,9:59:50 AM,2:59:59,179:59:00
15,128,2,9,10,2019,1:20:58 PM,4:16:58 PM,2:56:00,176:00:00
16,129,1,9,7,2019,8:54:48 AM,11:54:48 AM,3:00:00,180:00:00
17,129,2,9,10,2019,4:31:45 PM,7:31:59 PM,3:00:14,180:14:00
18,130,1,9,8,2019,5:27:53 PM,8:27:53 PM,3:00:00,180:00:00
19,130,2,9,10,2019,8:01:51 AM,11:01:50 AM,2:59:59,179:59:00
20,131,1,9,12,2019,10:57:42 AM,1:58:00 PM,3:00:18,180:18:00
21,131,2,9,16,2019,9:04:54 AM,11:55:00 AM,2:50:06,170:06:00
22,132,1,10,4,2019,1:30:42 PM,4:30:24 PM,2:59:42,179:42:00
23,132,2,10,10,2019,9:24:44 AM,12:07:00 PM,2:42:16,162:16:00
24,133,1,10,10,2019,2:31:56 PM,5:31:26 PM,2:59:30,179:30:00
25,133,2,10,11,2019,10:22:40 AM,1:22:20 PM,2:59:40,179:40:00
26,134,1,10,9,2019,12:56:45 PM,3:41:30 PM,2:44:45,164:45:00
27,134,2,10,13,2019,12:56:53 PM,3:57:00 PM,3:00:07,180:07:00
28,135,1,10,15,2019,3:31:45 PM,6:31:45 PM,2:59:59,179:59:00
29,135,2,10,19,2019,12:49:51 PM,3:50:01 PM,3:00:10,180:10:00
30,136,1,10,17,2019,1:40:58 PM,4:40:58 PM,3:00:00,180:00:00
31,136,2,10,19,2019,9:00:51 AM,12:01:00 PM,3:00:09,180:09:00
32,138,1,11,1,2019,4:10:55 PM,6:00:55 PM,1:50:00,110:00:00
33,138,2,11,2,2019,9:23:00 AM,12:24:00 PM,3:01:00,181:00:00
34,139,1,11,3,2019,2:19:51 PM,5:20:00 PM,3:00:09,180:09:00
35,139,2,11,5,2019,3:04:47 PM,6:05:00 PM,3:00:13,180:13:00
36,140,1,11,9,2019,8:58:39 AM,11:58:18 AM,2:59:39,179:39:00
37,140,2,11,9,2019,1:03:51 PM,4:03:51 PM,3:00:00,180:00:00
38,141,1,11,6,2019,12:27:52 PM,3:29:00 PM,3:01:08,181:08:00
39,141,2,11,10,2019,10:00:53 AM,1:00:53 PM,3:00:00,180:00:00
40,143,2,11,16,2019,10:06:51 AM,1:06:51 PM,3:00:00,180:00:00
41,143,1,11,18,2019,1:01:58 PM,4:01:58 PM,3:00:00,180:00:00
42,144,1,11,22,2019,12:37:51 PM,3:38:51 PM,3:01:00,181:00:00
43,144,2,11,23,2019,4:34:54 PM,7:34:53 PM,2:59:59,179:59:00
44,150,1,1,19,2020,9:28:57 AM,1:18:17 PM,3:49:20,229:20:00
45,150,2,1,21,2020,7:31:52 PM,10:32:00 PM,3:00:08,180:08:00
46,154,1,2,22,2020,1:07:51 PM,4:06:51 PM,2:59:00,179:00:00
47,154,2,2,23,2020,1:03:51 PM,3:55:42 PM,2:51:51,171:51:00

In [7]:
def parse_observation(observation):

    ob = re.split(r'[-_]', observation)

    id = int(ob[1])
    session = int(ob[2])
    return id, session


col = np.array(['ID', 'Session', 'Relative Time', 'Date', 'Time', 'Quality', 'Step'])

In [8]:
directory = "C:/Users/HELIOS-300/Desktop/Data/Stepcount _10112024 - Step_116_02_MD - Event Logs.xlsx"
workbook = openpyxl.load_workbook(directory)
sheet = workbook[workbook.sheetnames[0]]
df = pd.DataFrame(sheet.values)
df.columns = np.array(df.loc[0])
df = df.drop(0)
df.head(10)
id, session = parse_observation(df.loc[1]['Observation'])

mask = (log_final['id'] == id) & (log_final['do'] == session)
observation = log_final[mask].iloc[0]
df



idxs = (log_final['id'] <= id) & (log_final['do'] == session)

log_final[idxs]

,id,do,start_month,start_day,start_year,start_time,stop_time,duration_hrs,duation_min
1,102,2,7,25,2019,12:41:52 PM,3:41:44 PM,2:59:52,179:52:00
3,116,2,8,21,2019,11:09:47 AM,1:28:00 PM,2:18:13,138:13:00

In [9]:
directory = "C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps"

files = os.listdir(directory)
files = [f for f in files if 'xlsx' in f]
step_ground_truth = []
for f in files:
    workbook = openpyxl.load_workbook(directory + '/' + f)
    sheet = workbook[workbook.sheetnames[0]]
    df = pd.DataFrame(sheet.values)
    df.columns = np.array(df.loc[0])
    df = df.drop(0)
    df.head(10)
    id, session = parse_observation(df.loc[1]['Observation'])

    mask = (log_final['id'] == id) & (log_final['do'] == session)
    observation = log_final[mask].iloc[0]


    start_time = observation['start_time']
    month = observation['start_month']
    day = observation['start_day']
    year = observation['start_year']
    date = str(month) + '/' + str(day) + '/' + str(year)

    quality = ''

    for idx, row in df.iterrows():
        if row['Behavior'] == 'step':
            rel_time = row['Time_Relative_hmsf']
            
            start_format = "%H:%M:%S %p"    
            rel_format = "%H:%M:%S.%f"
            start = datetime.strptime(start_time, start_format)

            result_time = start + rel_time

            time = timedelta(hours=result_time.hour, minutes=result_time.minute, seconds=result_time.second, microseconds=result_time.microsecond)
            step_row = [id, session, rel_time, date, time, quality, 1]
  
            step_ground_truth.append(step_row)
        else:
            quality = row['Behavior']

step_ground_truth_recode = pd.DataFrame(data=np.array(step_ground_truth), columns=col)
step_ground_truth_recode.loc[
    (step_ground_truth_recode['Quality'] == 'Non-codeable') & 
    (step_ground_truth_recode['Step'] >= 1), 
    'Quality'
] = 'Codable'

step_ground_truth_recode

,ID,Session,Relative Time,Date,Time,Quality,Step
0,116,2,0 days 00:14:13.897000,8/21/2019,0 days 11:24:00.897000,Codable,1
1,116,2,0 days 00:14:18.263000,8/21/2019,0 days 11:24:05.263000,Codable,1
2,116,2,0 days 00:17:07.929000,8/21/2019,0 days 11:26:54.929000,Codable,1
3,116,2,0 days 00:17:08.596000,8/21/2019,0 days 11:26:55.596000,Codable,1
4,116,2,0 days 00:17:09.279000,8/21/2019,0 days 11:26:56.279000,Codable,1
...,...,...,...,...,...,...,...
115924,154,2,0 days 00:02:22.323000,2/23/2020,0 days 01:06:13.323000,Codable,1
115925,154,2,0 days 00:02:22.857000,2/23/2020,0 days 01:06:13.857000,Codable,1
115926,154,2,0 days 00:02:23.574000,2/23/2020,0 days 01:06:14.574000,Codable,1
115927,154,2,0 days 00:02:24.275000,2/23/2020,0 days 01:06:15.275000,Codable,1
115928,154,2,0 days 00:02:24.992000,2/23/2020,0 days 01:06:15.992000,Codable,1

In [10]:
csv_file_path = "C:/Users/HELIOS-300/Desktop/Data//steps_ground_truth_20240415.csv"

# Save the DataFrame to a CSV file
step_ground_truth_recode.to_csv(csv_file_path, index=False)

In [11]:
directory = "C:/Users/HELIOS-300/Desktop/WAVES/Steps Data WAVES/steps"
files = os.listdir(directory)
files = [f for f in files if 'xlsx' in f]
seconds_ground_truth = []
for f in files:
    workbook = openpyxl.load_workbook(directory + '/' + f)
    sheet = workbook[workbook.sheetnames[0]]
    df = pd.DataFrame(sheet.values)
    df.columns = np.array(df.loc[0])
    df = df.drop(0)
    df.head(10)
    id, session = parse_observation(df.loc[1]['Observation'])

    mask = (log_final['id'] == id) & (log_final['do'] == session)
    observation = log_final[mask].iloc[0]


    start_time = observation['start_time']
    month = observation['start_month']
    day = observation['start_day']
    year = observation['start_year']
    date = str(month) + '/' + str(day) + '/' + str(year)

    quality = ''
    step_counter = 0
    second = 1
    row_idx = 0



    while row_idx < len(df):
        if df.iloc[row_idx]['Behavior'] == 'step':
            if df.iloc[row_idx]['Time_Relative_hms'].seconds == second:
                step_counter += 1
                row_idx += 1
            else:
                start_format = "%H:%M:%S %p"    
                rel_format = "%H:%M:%S"
                rel_time = timedelta(seconds=second)
                
                
                start = datetime.strptime(start_time, start_format)

                # Add the times
                result_time = start + rel_time

                # Convert the result back to a formatted string
                time = result_time.strftime(rel_format)
                rel_time = timedelta(hours=rel_time.seconds // 3600,
                                minutes=(rel_time.seconds // 60) % 60,
                                seconds=rel_time.seconds % 60)
                
                seconds_row = [id, session, str(rel_time), date, time, quality, step_counter]
                # seconds_ground_truth.loc[len(seconds_ground_truth)] = seconds_row
                seconds_ground_truth.append(seconds_row)
                second += 1
                step_counter = 0

        else:
            quality = df.iloc[row_idx]['Behavior']
            row_idx += 1

    if step_counter > 0:
        start_format = "%H:%M:%S %p"    
        rel_format = "%H:%M:%S"
        rel_time = timedelta(seconds=second)
        
        
        start = datetime.strptime(start_time, start_format)

        result_time = start + rel_time

        time = result_time.strftime(rel_format)
        rel_time = timedelta(hours=rel_time.seconds // 3600,
                        minutes=(rel_time.seconds // 60) % 60,
                        seconds=rel_time.seconds % 60)
        
        seconds_row = [id, session, rel_time, date, time, quality, step_counter]
        seconds_ground_truth.append(seconds_row)

# Convert to DataFrame
seconds_ground_truth_recode = pd.DataFrame(data=np.array(seconds_ground_truth), columns=col)
seconds_ground_truth_recode.loc[
    (seconds_ground_truth_recode['Quality'] == 'Non-codeable') & 
    (seconds_ground_truth_recode['Step'] >= 1), 
    'Quality'
] = 'Codable'

# Show result
seconds_ground_truth_recode

         ID Session Relative Time       Date      Time  Quality Step
0       116       2       0:00:01  8/21/2019  11:09:48  Codable    0
1       116       2       0:00:02  8/21/2019  11:09:49  Codable    0
2       116       2       0:00:03  8/21/2019  11:09:50  Codable    0
3       116       2       0:00:04  8/21/2019  11:09:51  Codable    0
4       116       2       0:00:05  8/21/2019  11:09:52  Codable    0
...     ...     ...           ...        ...       ...      ...  ...
394779  154       2       0:02:20  2/23/2020  01:06:11  Codable    1
394780  154       2       0:02:21  2/23/2020  01:06:12  Codable    2
394781  154       2       0:02:22  2/23/2020  01:06:13  Codable    2
394782  154       2       0:02:23  2/23/2020  01:06:14  Codable    1
394783  154       2       0:02:24  2/23/2020  01:06:15  Codable    2

[394784 rows x 7 columns]

In [12]:
# Checking to see if anyone is missing Quality data
seconds_ground_truth_recode[seconds_ground_truth_recode["Quality"].isna()]

         ID Session Relative Time        Date      Time Quality Step
250634  135       2       2:50:20  10/19/2019  15:40:11    None    1

In [13]:
# Eric's Note - there is one row that has a blank codeable/non-codable (ID=135, obs=2). After examining the file, the row should be labeled as codable.
seconds_ground_truth_recode.loc[
    (seconds_ground_truth_recode["ID"] == 135) & 
    (seconds_ground_truth_recode["Session"] == 2) & 
    (seconds_ground_truth_recode["Quality"].isin(["", None, np.nan])), 
    "Quality"
] = "Codable"
# Check again to see if it worked
seconds_ground_truth_recode[seconds_ground_truth_recode["Quality"].isna()]

Empty DataFrame
Columns: [ID, Session, Relative Time, Date, Time, Quality, Step]
Index: []

In [14]:
# It worked! Now rename Relative Time to relative_time_steps
seconds_ground_truth_recode = seconds_ground_truth_recode.rename(columns={"Relative Time": "relative_time_steps"})

In [18]:
csv_file_path = "C:/Users/HELIOS-300/Desktop/Data/seconds_ground_truth_20250410.csv"

# Save the DataFrame to a CSV file
seconds_ground_truth_recode.to_csv(csv_file_path, index=False)

In [49]:
test_df = seconds_ground_truth_recode.copy()
test_df.head()

    ID Session relative_time_steps       Date      Time  Quality Step
0  116       2             0:00:01  8/21/2019  11:09:48  Codable    0
1  116       2             0:00:02  8/21/2019  11:09:49  Codable    0
2  116       2             0:00:03  8/21/2019  11:09:50  Codable    0
3  116       2             0:00:04  8/21/2019  11:09:51  Codable    0
4  116       2             0:00:05  8/21/2019  11:09:52  Codable    0