## Setup

In [1]:
import pandas as pd
import numpy as np
import warnings

In [2]:
warnings.filterwarnings("ignore")

## Reading Files

Files needed:

- `log` - do_log_final.csv
- `act24_event` - ACT24_directobservationdata_event.csv

In [3]:
log = pd.read_csv("/Users/hydeet/Library/CloudStorage/OneDrive-CalPoly/StepCount/Eric's Analysis/Required datasets/do_log_final_behavior.csv")
log

,id,do,start_month,start_day,start_year,start_time,stop_time,duration_hrs,duation_min
0,102,1,7,24,2019,8:20:19 AM,11:21:13 AM,3:00:54,180:54:00
1,102,2,7,25,2019,12:42:08 PM,3:42:00 PM,2:59:52,179:52:00
2,116,1,8,20,2019,8:08:45 AM,11:09:00 AM,3:00:15,180:15:00
3,116,2,8,21,2019,11:09:47 AM,1:28:00 PM,2:18:13,138:13:00
4,117,1,8,20,2019,3:17:46 PM,6:18:00 PM,3:00:14,180:14:00
5,117,2,8,21,2019,7:11:45 AM,10:13:00 AM,3:01:15,181:15:00
6,122,1,8,28,2019,10:06:40 AM,1:06:59 PM,3:00:19,180:19:00
7,122,2,8,29,2019,3:19:51 PM,6:23:00 PM,3:03:09,183:09:00
8,124,1,8,28,2019,2:59:09 PM,5:59:05 PM,2:59:56,179:56:00
9,124,2,8,29,2019,9:31:00 AM,12:31:00 PM,3:00:00,180:00:00
10,126,1,9,2,2019,11:14:51 AM,2:15:00 PM,3:00:09,180:09:00
11,126,2,9,6,2019,10:36:07 AM,1:36:07 PM,3:00:00,180:00:00
12,127,1,9,5,2019,4:07:56 PM,7:08:00 PM,3:00:04,180:04:00
13,127,2,9,9,2019,10:56:00 AM,1:56:00 PM,3:00:00,180:00:00
14,128,1,9,6,2019,7:00:00 AM,9:59:59 AM,2:59:59,179:59:00
15,128,2,9,10,2019,1:21:00 PM,4:17:00 PM,2:56:00,176:00:00
16,129,1,9,7,2019,8:55:00 AM,11:55:00 AM,3:00:00,180:00:00
17,129,2,9,10,2019,4:31:45 PM,7:31:59 PM,3:00:14,180:14:00
18,130,1,9,8,2019,5:27:53 PM,8:27:53 PM,3:00:00,180:00:00
19,130,2,9,10,2019,8:02:01 AM,11:02:00 AM,2:59:59,179:59:00
20,131,1,9,12,2019,10:57:42 AM,1:58:00 PM,3:00:18,180:18:00
21,131,2,9,16,2019,9:04:54 AM,11:55:00 AM,2:50:06,170:06:00
22,132,1,10,4,2019,1:31:17 PM,4:30:59 PM,2:59:42,179:42:00
23,132,2,10,10,2019,9:24:44 AM,12:07:00 PM,2:42:16,162:16:00
24,133,1,10,10,2019,2:31:56 PM,5:31:26 PM,2:59:30,179:30:00
25,133,2,10,11,2019,10:23:20 AM,1:23:00 PM,2:59:40,179:40:00
26,134,1,10,9,2019,12:57:00 PM,3:41:45 PM,2:44:45,164:45:00
27,134,2,10,13,2019,12:56:53 PM,3:57:00 PM,3:00:07,180:07:00
28,135,1,10,15,2019,3:32:01 PM,6:32:00 PM,2:59:59,179:59:00
29,135,2,10,19,2019,12:49:51 PM,3:50:01 PM,3:00:10,180:10:00
30,136,1,10,17,2019,1:41:00 PM,4:41:00 PM,3:00:00,180:00:00
31,136,2,10,19,2019,9:00:51 AM,12:01:00 PM,3:00:09,180:09:00
32,138,1,11,1,2019,4:11:00 PM,6:01:00 PM,1:50:00,110:00:00
33,138,2,11,2,2019,9:23:00 AM,12:24:00 PM,3:01:00,181:00:00
34,139,1,11,3,2019,2:19:51 PM,5:20:00 PM,3:00:09,180:09:00
35,139,2,11,5,2019,3:04:47 PM,6:05:00 PM,3:00:13,180:13:00
36,140,1,11,9,2019,8:59:22 AM,11:59:01 AM,2:59:39,179:39:00
37,140,2,11,9,2019,1:04:00 PM,4:04:00 PM,3:00:00,180:00:00
38,141,1,11,6,2019,12:27:52 PM,3:29:00 PM,3:01:08,181:08:00
39,141,2,11,10,2019,10:01:00 AM,1:01:00 PM,3:00:00,180:00:00
40,143,1,11,18,2019,1:01:58 PM,4:01:58 PM,3:00:00,180:00:00
41,143,2,11,16,2019,10:07:00 AM,1:07:00 PM,3:00:00,180:00:00
42,144,1,11,22,2019,12:38:00 PM,3:39:00 PM,3:01:00,181:00:00
43,144,2,11,23,2019,4:35:00 PM,7:34:59 PM,2:59:59,179:59:00
44,150,1,1,19,2020,9:29:06 AM,1:18:26 PM,3:49:20,229:20:00
45,150,2,1,21,2020,7:31:52 PM,10:32:00 PM,3:00:08,180:08:00
46,154,1,2,22,2020,1:07:59 PM,4:06:59 PM,2:59:00,179:00:00
47,154,2,2,23,2020,1:04:00 PM,3:55:51 PM,2:51:51,171:51:00

In [4]:
act24_event = pd.read_csv("/Users/hydeet/Library/CloudStorage/OneDrive-CalPoly/StepCount/Eric's Analysis/Required datasets/ACT24_directobservationdata_event_20250410.csv")
act24_event

,Date_Time_Absolute_dmy_hmsf,Date_dmy,Time_Absolute_hms,Time_Absolute_f,Time_Relative_hmsf,Time_Relative_hms,Time_Relative_f,Time_Relative_sf,Duration_sf,Observation,Event_Log,Behavior,Modifier_1,Modifier_2,Modifier_3,Event_Type,Comment,Unnamed: 17,Unnamed: 18
0,24-03-2020 11:17:41.259,24-03-2020,11:17:41,259,##############################################...,0:00:00,1,0.00137,42.59830,ID_102_01_C,Event log,LA- stand,NaN,NaN,NaN,State start,NaN,NaN,NaN
1,24-03-2020 11:17:41.259,24-03-2020,11:17:41,259,##############################################...,0:00:00,1,0.00137,0.00000,ID_102_01_C,Event log,NaN,NaN,NaN,NaN,State point,NaN,NaN,NaN
2,24-03-2020 11:17:41.259,24-03-2020,11:17:41,259,##############################################...,0:00:00,1,0.00137,0.00000,ID_102_01_C,Event log,NaN,NaN,NaN,NaN,State point,NaN,NaN,NaN
3,24-03-2020 11:17:41.259,24-03-2020,11:17:41,259,##############################################...,0:00:00,1,0.00137,53.71450,ID_102_01_C,Event log,WRK- general,NaN,NaN,SP- Education and Health Services,State start,NaN,NaN,NaN
4,24-03-2020 11:18:23.857,24-03-2020,11:18:23,857,00:42.6,0:00:42,597,42.59690,0.00000,ID_102_01_C,Event log,LA- stand,NaN,NaN,NaN,State stop,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16125,05-05-2020 23:33:40.412,05-05-2020,23:33:40,412,02:58:01.973,02:58:01,973,10682.00000,4.81647,ID_143_02_R,Event log,LA- stand and move,light,NaN,NaN,State start,NaN,NaN,NaN
16126,05-05-2020 23:33:45.228,05-05-2020,23:33:45,228,02:58:06.789,02:58:06,789,10686.80000,0.00000,ID_143_02_R,Event log,LA- stand and move,light,NaN,NaN,State stop,NaN,NaN,NaN
16127,05-05-2020 23:33:45.228,05-05-2020,23:33:45,228,02:58:06.789,02:58:06,789,10686.80000,113.54100,ID_143_02_R,Event log,SB-sitting,NaN,NaN,NaN,State start,NaN,NaN,NaN
16128,05-05-2020 23:35:38.769,05-05-2020,23:35:38,769,03:00:00.330,03:00:00,330,10800.30000,0.00000,ID_143_02_R,Event log,"LES- screen based leisure time (TV, video game...",NaN,NaN,NaN,State stop,NaN,NaN,NaN
16129,05-05-2020 23:35:38.769,05-05-2020,23:35:38,769,03:00:00.330,03:00:00,330,10800.30000,0.00000,ID_143_02_R,Event log,SB-sitting,NaN,NaN,NaN,State stop,NaN,NaN,NaN

## Data Wrangling

**GOAL:** Get a second-by-second ground truth file that is ready for mapping.

**Step 1:** Get `id` and `do` columns by parsing `Observation`. Filter to only "State start" rows. The assumption here that once the state has started, it does not change until the next consecutive state has started. Therefore, state end and state point are ignored.

In [5]:
# Remove unwanted columns. Filter to state start
act24 = act24_event.iloc[:,4:][act24_event["Event_Type"]=="State start"]
# Get id and do columns
act24["id"] = act24["Observation"].str.split("_").apply(lambda x: x[1]).astype(int)
act24["do"] = act24["Observation"].str.split("_").apply(lambda x: x[2]).astype(int)
# Display and sort for review
act24.sort_values(["id", "do", "Time_Relative_hmsf"])

# Eric Note - this code simply takes the rows that have event_type=="State start" and also extracts ID and Obs from the variable Observation

,Time_Relative_hmsf,Time_Relative_hms,Time_Relative_f,Time_Relative_sf,Duration_sf,Observation,Event_Log,Behavior,Modifier_1,Modifier_2,Modifier_3,Event_Type,Comment,Unnamed: 17,Unnamed: 18,id,do
0,##############################################...,0:00:00,1,0.00137,42.59830,ID_102_01_C,Event log,LA- stand,NaN,NaN,NaN,State start,NaN,NaN,NaN,102,1
3,##############################################...,0:00:00,1,0.00137,53.71450,ID_102_01_C,Event log,WRK- general,NaN,NaN,SP- Education and Health Services,State start,NaN,NaN,NaN,102,1
5,00:42.6,0:00:42,597,42.59690,17.31600,ID_102_01_C,Event log,WA- walk,NaN,moderate,NaN,State start,NaN,NaN,NaN,102,1
169,00:52.4,3:00:52,448,10852.40000,1.66215,ID_102_01_C,Event log,OTHER- non codable,NaN,NaN,NaN,State start,*did not capture the final time change; 13 sec...,NaN,NaN,102,1
171,00:52.4,3:00:52,449,10852.40000,1.66137,ID_102_01_C,Event log,private/not coded,NaN,NaN,NaN,State start,NaN,NaN,NaN,102,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14870,00:49.3,0:00:49,298,49.29830,9.20902,ID_154_02_R,Event log,WA-walk with load,NaN,moderate,NaN,State start,NaN,NaN,NaN,154,2
14872,00:58.5,0:00:58,507,58.50730,37.72030,ID_154_02_R,Event log,WA- ascend stairs,NaN,vigorous,NaN,State start,NaN,NaN,NaN,154,2
14874,01:36.2,0:01:36,228,96.22750,33.36600,ID_154_02_R,Event log,WA-walk with load,NaN,moderate,NaN,State start,NaN,NaN,NaN,154,2
14876,02:09.6,0:02:09,594,129.59400,5.42198,ID_154_02_R,Event log,LA- stand and move,NaN,light,NaN,State start,NaN,NaN,NaN,154,2
14878,02:15.0,0:02:15,16,135.01600,10065.00000,ID_154_02_R,Event log,SB-sitting,NaN,NaN,NaN,State start,NaN,NaN,NaN,154,2

**Step 2:** Merge date info from `log` with time and ground truth coding from `act24`. Use this to calculate `date` and `date_time` columns.

**NOTE: Need information from `Time_Relative_hmsf` to deal with duplicate postures**

* Used the milliseconds of duplicate postures to determine which posture to code inplace
* Changed the `date_time` column back to hms format so we are not getting a millisecond-by-millisecond file

In [6]:
# Need to fix Time_Relative_hmsf to not contain weird stuff like #######
def fix_milli_errs(row):
  if "#" in row:
    return '00:00.0'
  else:
    return row

In [7]:
act24_2 = act24.copy()
act24_2["Time_Relative_hmsf"] = act24_2["Time_Relative_hmsf"].apply(fix_milli_errs)
act24_2

,Time_Relative_hmsf,Time_Relative_hms,Time_Relative_f,Time_Relative_sf,Duration_sf,Observation,Event_Log,Behavior,Modifier_1,Modifier_2,Modifier_3,Event_Type,Comment,Unnamed: 17,Unnamed: 18,id,do
0,00:00.0,0:00:00,1,0.00137,42.59830,ID_102_01_C,Event log,LA- stand,NaN,NaN,NaN,State start,NaN,NaN,NaN,102,1
3,00:00.0,0:00:00,1,0.00137,53.71450,ID_102_01_C,Event log,WRK- general,NaN,NaN,SP- Education and Health Services,State start,NaN,NaN,NaN,102,1
5,00:42.6,0:00:42,597,42.59690,17.31600,ID_102_01_C,Event log,WA- walk,NaN,moderate,NaN,State start,NaN,NaN,NaN,102,1
7,00:53.7,0:00:53,713,53.71310,535.62900,ID_102_01_C,Event log,TRAV- walking,NaN,NaN,NaN,State start,NaN,NaN,NaN,102,1
9,00:59.9,0:00:59,913,59.91290,14.01610,ID_102_01_C,Event log,WA- descend stairs,NaN,moderate,NaN,State start,NaN,NaN,NaN,102,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16119,02:56:04.327,02:56:04,327,10564.30000,15.43260,ID_143_02_R,Event log,SB-sitting,NaN,NaN,NaN,State start,NaN,NaN,NaN,143,2
16121,02:56:19.760,02:56:19,760,10579.80000,3.03334,ID_143_02_R,Event log,LA- stand and move,light,NaN,NaN,State start,NaN,NaN,NaN,143,2
16123,02:56:22.793,02:56:22,793,10582.80000,99.17940,ID_143_02_R,Event log,SB-sitting,NaN,NaN,NaN,State start,NaN,NaN,NaN,143,2
16125,02:58:01.973,02:58:01,973,10682.00000,4.81647,ID_143_02_R,Event log,LA- stand and move,light,NaN,NaN,State start,NaN,NaN,NaN,143,2
16127,02:58:06.789,02:58:06,789,10686.80000,113.54100,ID_143_02_R,Event log,SB-sitting,NaN,NaN,NaN,State start,NaN,NaN,NaN,143,2

In [8]:
# Join log and act24 data on id, do
sbs_1 = pd.merge(left=log, right=act24_2[["id", "do", "Time_Relative_hms", "Time_Relative_hmsf", "Behavior", "Modifier_1", 'Modifier_2', 'Modifier_3']], how="left", on=["id", "do"])

# Join starting date time columns as string, then convert it to datetime object
sbs_1["start"] = pd.to_datetime(sbs_1["start_month"].astype(str) + "/" + sbs_1["start_day"].astype(str) + "/" + sbs_1["start_year"].astype(str) + " " + sbs_1["start_time"], errors='coerce')

# Convert relative time to timedelta, which measures change in time from starting point. We assume missing values are 00:00:00 relative time
sbs_1["time_rel_ms"] = pd.to_timedelta("00:" + sbs_1["Time_Relative_hmsf"], errors='coerce').fillna(pd.to_timedelta("00:00:00.0"))
sbs_1["time_rel"] = pd.to_timedelta(sbs_1["Time_Relative_hms"], errors='coerce').fillna(pd.to_timedelta("00:00:00"))

# Calculate final date time column by adding relative time to starting datetime
sbs_1["date_time"] = sbs_1["start"] + sbs_1["time_rel"]

# Get column to store milliseconds since provided second, this will help us later when removing duplicate postures
ms = sbs_1["start"] + sbs_1["time_rel_ms"]
sbs_1["milliseconds"] = ms.dt.microsecond.astype(str).str[0].astype(int) * 0.1

# Get date from date time
sbs_1["date"] = sbs_1["date_time"].dt.date

# Filter columns
sbs_1 = sbs_1[["id", "do", "date", "date_time", "milliseconds", "Time_Relative_hmsf", "Behavior", "Modifier_1", "Modifier_2", "Modifier_3"]]

# Display for review
sbs_1.sort_values("date_time")

,id,do,date,date_time,milliseconds,Time_Relative_hmsf,Behavior,Modifier_1,Modifier_2,Modifier_3
0,102,1,2019-07-24,2019-07-24 08:20:19,0.0,00:00.0,LA- stand,NaN,NaN,NaN
1,102,1,2019-07-24,2019-07-24 08:20:19,0.0,00:00.0,WRK- general,NaN,NaN,SP- Education and Health Services
2,102,1,2019-07-24,2019-07-24 08:21:01,0.6,00:42.6,WA- walk,NaN,moderate,NaN
3,102,1,2019-07-24,2019-07-24 08:21:12,0.7,00:53.7,TRAV- walking,NaN,NaN,NaN
4,102,1,2019-07-24,2019-07-24 08:21:18,0.9,00:59.9,WA- descend stairs,NaN,moderate,NaN
...,...,...,...,...,...,...,...,...,...,...
7883,154,2,2020-02-23,2020-02-23 13:04:49,0.3,00:49.3,WA-walk with load,NaN,moderate,NaN
7884,154,2,2020-02-23,2020-02-23 13:04:58,0.5,00:58.5,WA- ascend stairs,NaN,vigorous,NaN
7885,154,2,2020-02-23,2020-02-23 13:05:36,0.2,01:36.2,WA-walk with load,NaN,moderate,NaN
7886,154,2,2020-02-23,2020-02-23 13:06:09,0.6,02:09.6,LA- stand and move,NaN,light,NaN
7887,154,2,2020-02-23,2020-02-23 13:06:15,0.0,02:15.0,SB-sitting,NaN,NaN,NaN

**Step 3:** Separate posture and activity coding into 2 separate tables. Ignore codes that are to be dropped.

In [9]:
# This function splits out states into activity or posture
def get_coding(s):
    s_type = s.split("-")[0].strip()
    if s == "private/not coded":
        return "posture_type"
    elif s_type in ["SL", "PC", "HA", "CA", "WRK", "EDU",
                    "ORG", "PUR", "EAT", "LES", "EX", "TRAV",
                    "OTHER"]:
        return "activity_type"
    elif s_type in ["SB", "LA", "WA", "SP"]:
        return "posture_type"
    return np.nan

In [10]:
# Remove empty behavior
sbs_2 = sbs_1.copy().dropna(subset="Behavior")
# Eric note - Nothing got dropped
# Get coding using the custom function
sbs_2["coding"] = sbs_2["Behavior"].fillna("").apply(get_coding)
# Display for review
sbs_2

,id,do,date,date_time,milliseconds,Time_Relative_hmsf,Behavior,Modifier_1,Modifier_2,Modifier_3,coding
0,102,1,2019-07-24,2019-07-24 08:20:19,0.0,00:00.0,LA- stand,NaN,NaN,NaN,posture_type
1,102,1,2019-07-24,2019-07-24 08:20:19,0.0,00:00.0,WRK- general,NaN,NaN,SP- Education and Health Services,activity_type
2,102,1,2019-07-24,2019-07-24 08:21:01,0.6,00:42.6,WA- walk,NaN,moderate,NaN,posture_type
3,102,1,2019-07-24,2019-07-24 08:21:12,0.7,00:53.7,TRAV- walking,NaN,NaN,NaN,activity_type
4,102,1,2019-07-24,2019-07-24 08:21:18,0.9,00:59.9,WA- descend stairs,NaN,moderate,NaN,posture_type
...,...,...,...,...,...,...,...,...,...,...,...
7883,154,2,2020-02-23,2020-02-23 13:04:49,0.3,00:49.3,WA-walk with load,NaN,moderate,NaN,posture_type
7884,154,2,2020-02-23,2020-02-23 13:04:58,0.5,00:58.5,WA- ascend stairs,NaN,vigorous,NaN,posture_type
7885,154,2,2020-02-23,2020-02-23 13:05:36,0.2,01:36.2,WA-walk with load,NaN,moderate,NaN,posture_type
7886,154,2,2020-02-23,2020-02-23 13:06:09,0.6,02:09.6,LA- stand and move,NaN,light,NaN,posture_type
7887,154,2,2020-02-23,2020-02-23 13:06:15,0.0,02:15.0,SB-sitting,NaN,NaN,NaN,posture_type

In [11]:
# Eric note - this step took the variable "Behavior" and created "coding_posture" based on the first two letters and then
# whatever is after the dash
# outputting sbs_2
sbs_2.to_csv("sbs_2.csv", index=False)

In [12]:
# Get table of postures only
sbs_posture = sbs_2[sbs_2["coding"] == "posture_type"]
sbs_posture["posture_type"] = sbs_posture["Behavior"]
# Rename relevant modifier columns for clarity
sbs_posture["activity_intensity"] = sbs_posture["Modifier_2"]
# Subset columns to relevent ones, drop duplicates if they exist
sbs_posture = sbs_posture[["id", "do", "date", "date_time", "milliseconds", "posture_type",
                           "activity_intensity"]].drop_duplicates()
# Display and review
sbs_posture

,id,do,date,date_time,milliseconds,posture_type,activity_intensity
0,102,1,2019-07-24,2019-07-24 08:20:19,0.0,LA- stand,NaN
2,102,1,2019-07-24,2019-07-24 08:21:01,0.6,WA- walk,moderate
4,102,1,2019-07-24,2019-07-24 08:21:18,0.9,WA- descend stairs,moderate
5,102,1,2019-07-24,2019-07-24 08:21:32,0.9,WA- walk,moderate
6,102,1,2019-07-24,2019-07-24 08:21:39,0.9,WA- descend stairs,moderate
...,...,...,...,...,...,...,...
7883,154,2,2020-02-23,2020-02-23 13:04:49,0.3,WA-walk with load,moderate
7884,154,2,2020-02-23,2020-02-23 13:04:58,0.5,WA- ascend stairs,vigorous
7885,154,2,2020-02-23,2020-02-23 13:05:36,0.2,WA-walk with load,moderate
7886,154,2,2020-02-23,2020-02-23 13:06:09,0.6,LA- stand and move,light
7887,154,2,2020-02-23,2020-02-23 13:06:15,0.0,SB-sitting,NaN

In [13]:
# Get table of activities only
sbs_activity = sbs_2[sbs_2["coding"] == "activity_type"]
sbs_activity["activity_type"] = sbs_activity["Behavior"]
# Rename relevant modifier columns for clarity
sbs_activity["exercise_modifier"] = sbs_activity["Modifier_1"]
sbs_activity["work_type"] = sbs_activity["Modifier_3"]
# Subset columns to relevent ones, drop duplicates if they exist
sbs_activity = sbs_activity[["id", "do", "date", "date_time", "activity_type",
                             "exercise_modifier", "work_type"]].drop_duplicates()
sbs_activity

,id,do,date,date_time,activity_type,exercise_modifier,work_type
1,102,1,2019-07-24,2019-07-24 08:20:19,WRK- general,NaN,SP- Education and Health Services
3,102,1,2019-07-24,2019-07-24 08:21:12,TRAV- walking,NaN,NaN
12,102,1,2019-07-24,2019-07-24 08:30:08,PUR- purchasing goods and services,NaN,NaN
21,102,1,2019-07-24,2019-07-24 08:33:55,TRAV- walking,NaN,NaN
28,102,1,2019-07-24,2019-07-24 08:42:43,WRK- general,NaN,"SP- Office (business, professional services, f..."
...,...,...,...,...,...,...,...
7727,154,1,2020-02-22,2020-02-22 14:11:08,"LES- screen based leisure time (TV, video game...",NaN,NaN
7728,154,1,2020-02-22,2020-02-22 14:13:53,"EX- participating in sport, exercise or recrea...",weight training,NaN
7737,154,1,2020-02-22,2020-02-22 15:11:44,"EX- participating in sport, exercise or recrea...",weight training,NaN
7879,154,1,2020-02-22,2020-02-22 16:04:53,TRAV- walking,NaN,NaN
7880,154,2,2020-02-23,2020-02-23 13:04:00,"EDU- taking class, research, homework",NaN,NaN

**Step 4:** Aggregate states so that there is only one row per `id`-`do`-`date_time`. Generally, there should only be at most one `posture_type` per row and one `activity_type` per row. However, there exist 3 rows where there are 2 `posture_type` states in the same second.

Dealing with Duplicate Postures in a Given Second
- "If a particular second has two postures assign the most prevalent (>50% of the second)."

In [14]:
def time_elapse_map(ms, minGrp, maxGrp):
  if minGrp == maxGrp:
    return 0
  else:
    if ms == minGrp:
      time_elapse = maxGrp - minGrp
    else:
      time_elapse = 1 - maxGrp
  return time_elapse

In [15]:
sbs_posture_1 = sbs_posture.copy()
sbs_posture_1["maxGroupValue"] = sbs_posture_1.groupby(["id", "do", "date_time"])["milliseconds"].transform('max')
sbs_posture_1["minGroupValue"] = sbs_posture_1.groupby(["id", "do", "date_time"])["milliseconds"].transform('min')

sbs_posture_1["timeOfPosture"] = sbs_posture_1.apply(lambda x: time_elapse_map(x["milliseconds"], x["minGroupValue"], x["maxGroupValue"]), axis = 1)
sbs_posture_1["maxIdx"] = sbs_posture_1.groupby(["id", "do", "date_time"])["timeOfPosture"].transform('idxmax')

#Keep only rows with most frequent posture
sbs_posture_1 = sbs_posture_1[sbs_posture_1["maxIdx"] == sbs_posture_1.index]

#Get rid of uneccesary columns
sbs_posture_1.drop(columns=["milliseconds", "maxGroupValue", "minGroupValue", "timeOfPosture"], inplace=True)

In [16]:
#Check that each second now only has one per timestamp
sbs_posture_1.groupby(["id", "do", "date_time"])["posture_type"].value_counts().to_frame(name="count").reset_index().sort_values(by="count")

       id  do           date_time        posture_type  count
0     102   1 2019-07-24 08:20:19           LA- stand      1
4700  138   2 2019-11-02 10:20:54          SB-sitting      1
4699  138   2 2019-11-02 10:20:26            WA- walk      1
4698  138   2 2019-11-02 10:20:21   private/not coded      1
4697  138   2 2019-11-02 10:20:05         WA- running      1
...   ...  ..                 ...                 ...    ...
2342  131   1 2019-09-12 11:30:12            WA- walk      1
2341  131   1 2019-09-12 11:29:56  WA- descend stairs      1
2340  131   1 2019-09-12 11:28:58            WA- walk      1
2351  131   1 2019-09-12 11:55:24   WA- ascend stairs      1
7041  154   2 2020-02-23 13:06:15          SB-sitting      1

[7042 rows x 5 columns]

**Above code fixes issue with more than two postures in a given second**

In [17]:
# This function helps us aggregate so there is only one row per unique datetime, especially if there are multiple states in a second
def unique_list(x):
    listx = pd.Series(list(x)).dropna().unique().tolist()
    if len(listx) > 1:
        if "OTHER- non codable" in listx or "private/not coded" in listx:
            listx = pd.Series(list(x))
            listx = listx[~listx.isin(["OTHER- non codable", "private/not coded"])]
            listx = listx.tolist()
            if len(listx) == 1:
                return listx[0]
        return listx
    elif len(listx) == 1:
        return listx[0]
    return np.nan

In [18]:
# Merge posture data and activity data
sbs_3 = sbs_posture_1.merge(right=sbs_activity, on=["id", "do", "date", "date_time"], how="outer")
# Aggregate
sbs_3 = sbs_3.groupby(["id", "do", "date", "date_time"]).agg(unique_list).reset_index()
# Display for review
sbs_3.sort_values(["id", "do", "date_time"])

,id,do,date,date_time,posture_type,activity_intensity,maxIdx,activity_type,exercise_modifier,work_type
0,102,1,2019-07-24,2019-07-24 08:20:19,LA- stand,NaN,0.0,WRK- general,NaN,SP- Education and Health Services
1,102,1,2019-07-24,2019-07-24 08:21:01,WA- walk,moderate,2.0,NaN,NaN,NaN
2,102,1,2019-07-24,2019-07-24 08:21:12,NaN,NaN,NaN,TRAV- walking,NaN,NaN
3,102,1,2019-07-24,2019-07-24 08:21:18,WA- descend stairs,moderate,4.0,NaN,NaN,NaN
4,102,1,2019-07-24,2019-07-24 08:21:32,WA- walk,moderate,5.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
7316,154,2,2020-02-23,2020-02-23 13:04:49,WA-walk with load,moderate,7883.0,NaN,NaN,NaN
7317,154,2,2020-02-23,2020-02-23 13:04:58,WA- ascend stairs,vigorous,7884.0,NaN,NaN,NaN
7318,154,2,2020-02-23,2020-02-23 13:05:36,WA-walk with load,moderate,7885.0,NaN,NaN,NaN
7319,154,2,2020-02-23,2020-02-23 13:06:09,LA- stand and move,light,7886.0,NaN,NaN,NaN
7320,154,2,2020-02-23,2020-02-23 13:06:15,SB-sitting,NaN,7887.0,NaN,NaN,NaN

In [19]:
# Show rows where there are multiple posture types per datetime (should be none now)
sbs_3[sbs_3['posture_type'].apply(type) == list]

Empty DataFrame
Columns: [id, do, date, date_time, posture_type, activity_intensity, maxIdx, activity_type, exercise_modifier, work_type]
Index: []

In [20]:
# Show rows where there are multiple activity types per datetime
sbs_3[sbs_3['activity_type'].apply(type) == list]

Empty DataFrame
Columns: [id, do, date, date_time, posture_type, activity_intensity, maxIdx, activity_type, exercise_modifier, work_type]
Index: []

**Step 5:** Get min and max datetime timestamps for each session using the `log` file

In [21]:
# Get relevant info from log
sbs_time = log[["id", "do", "start_month", "start_day", "start_year", "start_time", "stop_time"]]
# Concatenate min date time into string and then convert that string to datetime object
sbs_time["date_time_min"] = pd.to_datetime(sbs_time["start_month"].astype(str) + "/" + sbs_time["start_day"].astype(str) + "/" +
                                        sbs_time["start_year"].astype(str) + " " + sbs_time["start_time"])
# Concatenate max date time into string and then convert that string to datetime object
sbs_time["date_time_max"] = pd.to_datetime(sbs_time["start_month"].astype(str) + "/" + sbs_time["start_day"].astype(str) + "/" +
                                        sbs_time["start_year"].astype(str) + " " + sbs_time["stop_time"]) + pd.to_timedelta(1, unit="seconds")
# Recreate date column for joining purposes
sbs_time["date"] = sbs_time["date_time_min"].dt.date
# Subset columns
sbs_time = sbs_time[["id", "do", "date", "date_time_min", "date_time_max"]]
# Display for review
sbs_time

     id  do        date       date_time_min       date_time_max
0   102   1  2019-07-24 2019-07-24 08:20:19 2019-07-24 11:21:14
1   102   2  2019-07-25 2019-07-25 12:42:08 2019-07-25 15:42:01
2   116   1  2019-08-20 2019-08-20 08:08:45 2019-08-20 11:09:01
3   116   2  2019-08-21 2019-08-21 11:09:47 2019-08-21 13:28:01
4   117   1  2019-08-20 2019-08-20 15:17:46 2019-08-20 18:18:01
5   117   2  2019-08-21 2019-08-21 07:11:45 2019-08-21 10:13:01
6   122   1  2019-08-28 2019-08-28 10:06:40 2019-08-28 13:07:00
7   122   2  2019-08-29 2019-08-29 15:19:51 2019-08-29 18:23:01
8   124   1  2019-08-28 2019-08-28 14:59:09 2019-08-28 17:59:06
9   124   2  2019-08-29 2019-08-29 09:31:00 2019-08-29 12:31:01
10  126   1  2019-09-02 2019-09-02 11:14:51 2019-09-02 14:15:01
11  126   2  2019-09-06 2019-09-06 10:36:07 2019-09-06 13:36:08
12  127   1  2019-09-05 2019-09-05 16:07:56 2019-09-05 19:08:01
13  127   2  2019-09-09 2019-09-09 10:56:00 2019-09-09 13:56:01
14  128   1  2019-09-06 2019-09-06 07:00:00 2019-09-06 10:00:00
15  128   2  2019-09-10 2019-09-10 13:21:00 2019-09-10 16:17:01
16  129   1  2019-09-07 2019-09-07 08:55:00 2019-09-07 11:55:01
17  129   2  2019-09-10 2019-09-10 16:31:45 2019-09-10 19:32:00
18  130   1  2019-09-08 2019-09-08 17:27:53 2019-09-08 20:27:54
19  130   2  2019-09-10 2019-09-10 08:02:01 2019-09-10 11:02:01
20  131   1  2019-09-12 2019-09-12 10:57:42 2019-09-12 13:58:01
21  131   2  2019-09-16 2019-09-16 09:04:54 2019-09-16 11:55:01
22  132   1  2019-10-04 2019-10-04 13:31:17 2019-10-04 16:31:00
23  132   2  2019-10-10 2019-10-10 09:24:44 2019-10-10 12:07:01
24  133   1  2019-10-10 2019-10-10 14:31:56 2019-10-10 17:31:27
25  133   2  2019-10-11 2019-10-11 10:23:20 2019-10-11 13:23:01
26  134   1  2019-10-09 2019-10-09 12:57:00 2019-10-09 15:41:46
27  134   2  2019-10-13 2019-10-13 12:56:53 2019-10-13 15:57:01
28  135   1  2019-10-15 2019-10-15 15:32:01 2019-10-15 18:32:01
29  135   2  2019-10-19 2019-10-19 12:49:51 2019-10-19 15:50:02
30  136   1  2019-10-17 2019-10-17 13:41:00 2019-10-17 16:41:01
31  136   2  2019-10-19 2019-10-19 09:00:51 2019-10-19 12:01:01
32  138   1  2019-11-01 2019-11-01 16:11:00 2019-11-01 18:01:01
33  138   2  2019-11-02 2019-11-02 09:23:00 2019-11-02 12:24:01
34  139   1  2019-11-03 2019-11-03 14:19:51 2019-11-03 17:20:01
35  139   2  2019-11-05 2019-11-05 15:04:47 2019-11-05 18:05:01
36  140   1  2019-11-09 2019-11-09 08:59:22 2019-11-09 11:59:02
37  140   2  2019-11-09 2019-11-09 13:04:00 2019-11-09 16:04:01
38  141   1  2019-11-06 2019-11-06 12:27:52 2019-11-06 15:29:01
39  141   2  2019-11-10 2019-11-10 10:01:00 2019-11-10 13:01:01
40  143   1  2019-11-18 2019-11-18 13:01:58 2019-11-18 16:01:59
41  143   2  2019-11-16 2019-11-16 10:07:00 2019-11-16 13:07:01
42  144   1  2019-11-22 2019-11-22 12:38:00 2019-11-22 15:39:01
43  144   2  2019-11-23 2019-11-23 16:35:00 2019-11-23 19:35:00
44  150   1  2020-01-19 2020-01-19 09:29:06 2020-01-19 13:18:27
45  150   2  2020-01-21 2020-01-21 19:31:52 2020-01-21 22:32:01
46  154   1  2020-02-22 2020-02-22 13:07:59 2020-02-22 16:07:00
47  154   2  2020-02-23 2020-02-23 13:04:00 2020-02-23 15:55:52

**Step 6:** Get timestamps for posture states. Fill the time stamps in between so there is one row for every second between start and end of the session. This will result in a second by second table for the posture states.

In [22]:
# Get postures from aggregated table
sbs_posture_2 = sbs_3[['id', 'do', 'date', 'date_time', 'posture_type', 'activity_intensity']].dropna(subset="posture_type")
sbs_posture_2

,id,do,date,date_time,posture_type,activity_intensity
0,102,1,2019-07-24,2019-07-24 08:20:19,LA- stand,NaN
1,102,1,2019-07-24,2019-07-24 08:21:01,WA- walk,moderate
3,102,1,2019-07-24,2019-07-24 08:21:18,WA- descend stairs,moderate
4,102,1,2019-07-24,2019-07-24 08:21:32,WA- walk,moderate
5,102,1,2019-07-24,2019-07-24 08:21:39,WA- descend stairs,moderate
...,...,...,...,...,...,...
7316,154,2,2020-02-23,2020-02-23 13:04:49,WA-walk with load,moderate
7317,154,2,2020-02-23,2020-02-23 13:04:58,WA- ascend stairs,vigorous
7318,154,2,2020-02-23,2020-02-23 13:05:36,WA-walk with load,moderate
7319,154,2,2020-02-23,2020-02-23 13:06:09,LA- stand and move,light
7320,154,2,2020-02-23,2020-02-23 13:06:15,SB-sitting,NaN

In [23]:
# Eric note - trying to view ID 143 here
sbs_posture_2[sbs_posture_2["id"] == 143].sort_values("date_time")
sbs_posture_2[sbs_posture_2["id"] == 143].to_csv("sbs_posture_id143.csv", index=False)
# The activity_intensity for 143 obs 2 is all missing...

In [24]:
# Merge min max datetime data with posture data
sbs_posture_3 = sbs_time.merge(sbs_posture_2[["id", "do", "date", "date_time"]], on=["id", "do", "date"])
# Get end times of states - it is just the start time of the next state
sbs_posture_3["date_time_shift"] = sbs_posture_3.groupby(['id', 'do', 'date'])['date_time'].apply(lambda x: x.shift(-1)).reset_index(drop=True)
# Calculate start of the states and store in date time min. It is the max of the session start or the state start.
sbs_posture_3["date_time_min"] = sbs_posture_3[["date_time_min", "date_time"]].max(axis=1, skipna=True)
# Calculate end of the states and store in date time max. It is the minimum of the session end or the next state start.
sbs_posture_3["date_time_max"] = sbs_posture_3[["date_time_max", "date_time_shift"]].min(axis=1, skipna=True)
# Subset columns
sbs_posture_3 = sbs_posture_3[["id", "do", "date", "date_time_min", "date_time_max"]]
# Calculate time in between states
sbs_posture_3['time_delta'] = sbs_posture_3['date_time_max'] - sbs_posture_3['date_time_min']
# Get a sequence list of all seconds since the start of the state until the end of the state. It will look like [0, 1, 2,...]
sbs_posture_3['seconds_sequence'] = sbs_posture_3['time_delta'].apply(lambda x: list(range(int(x.total_seconds()))))
# Explode the sequence of seconds. We add each second in the list to the start time
# This should result in one row per second for every second in between the session start and end - a second by second table
sbs_posture_3 = sbs_posture_3.drop(['time_delta', 'date_time_max'], axis=1).explode('seconds_sequence')
sbs_posture_3['date_time'] = sbs_posture_3['date_time_min'] + pd.to_timedelta(sbs_posture_3['seconds_sequence'], unit="seconds")
# Subset columns
sbs_posture_3 = sbs_posture_3.drop(['seconds_sequence'], axis=1)
# Display for review
sbs_posture_3

       id  do        date       date_time_min           date_time
0     102   1  2019-07-24 2019-07-24 08:20:19 2019-07-24 08:20:19
0     102   1  2019-07-24 2019-07-24 08:20:19 2019-07-24 08:20:20
0     102   1  2019-07-24 2019-07-24 08:20:19 2019-07-24 08:20:21
0     102   1  2019-07-24 2019-07-24 08:20:19 2019-07-24 08:20:22
0     102   1  2019-07-24 2019-07-24 08:20:19 2019-07-24 08:20:23
...   ...  ..         ...                 ...                 ...
7041  154   2  2020-02-23 2020-02-23 13:06:15 2020-02-23 15:55:47
7041  154   2  2020-02-23 2020-02-23 13:06:15 2020-02-23 15:55:48
7041  154   2  2020-02-23 2020-02-23 13:06:15 2020-02-23 15:55:49
7041  154   2  2020-02-23 2020-02-23 13:06:15 2020-02-23 15:55:50
7041  154   2  2020-02-23 2020-02-23 13:06:15 2020-02-23 15:55:51

[511819 rows x 5 columns]

In [25]:
# Merge with posture states ground truth. The date time min in the second by second table should match up with the date time in the event table
sbs_posture_4 = sbs_posture_3.merge(sbs_posture_2, left_on=["id", "do", "date", "date_time_min"], right_on=["id", "do", "date", "date_time"])
# Subset and rename columns
sbs_posture_4 = sbs_posture_4.drop(["date_time_min", "date_time_y"], axis=1).rename(columns={
    'date_time_x': 'date_time',
    'do': 'observation'
})
# Display for review
sbs_posture_4

,id,observation,date,date_time,posture_type,activity_intensity
0,102,1,2019-07-24,2019-07-24 08:20:19,LA- stand,NaN
1,102,1,2019-07-24,2019-07-24 08:20:20,LA- stand,NaN
2,102,1,2019-07-24,2019-07-24 08:20:21,LA- stand,NaN
3,102,1,2019-07-24,2019-07-24 08:20:22,LA- stand,NaN
4,102,1,2019-07-24,2019-07-24 08:20:23,LA- stand,NaN
...,...,...,...,...,...,...
511814,154,2,2020-02-23,2020-02-23 15:55:47,SB-sitting,NaN
511815,154,2,2020-02-23,2020-02-23 15:55:48,SB-sitting,NaN
511816,154,2,2020-02-23,2020-02-23 15:55:49,SB-sitting,NaN
511817,154,2,2020-02-23,2020-02-23 15:55:50,SB-sitting,NaN
511818,154,2,2020-02-23,2020-02-23 15:55:51,SB-sitting,NaN

**Step 7:** Get timestamps for activity states. Fill the time stamps in between so there is one row for every second between start and end of the session. This will result in a second by second table for the activity states.

In [26]:
# Repeat for activities
# Get activities from aggregated table
sbs_activity_2 = sbs_3[['id', 'do', 'date', 'date_time', 'activity_type', 'exercise_modifier', 'work_type']].dropna(subset="activity_type")
sbs_activity_2

,id,do,date,date_time,activity_type,exercise_modifier,work_type
0,102,1,2019-07-24,2019-07-24 08:20:19,WRK- general,NaN,SP- Education and Health Services
2,102,1,2019-07-24,2019-07-24 08:21:12,TRAV- walking,NaN,NaN
11,102,1,2019-07-24,2019-07-24 08:30:08,PUR- purchasing goods and services,NaN,NaN
20,102,1,2019-07-24,2019-07-24 08:33:55,TRAV- walking,NaN,NaN
27,102,1,2019-07-24,2019-07-24 08:42:43,WRK- general,NaN,"SP- Office (business, professional services, f..."
...,...,...,...,...,...,...,...
7162,154,1,2020-02-22,2020-02-22 14:11:08,"LES- screen based leisure time (TV, video game...",NaN,NaN
7163,154,1,2020-02-22,2020-02-22 14:13:53,"EX- participating in sport, exercise or recrea...",weight training,NaN
7171,154,1,2020-02-22,2020-02-22 15:11:44,"EX- participating in sport, exercise or recrea...",weight training,NaN
7313,154,1,2020-02-22,2020-02-22 16:04:53,TRAV- walking,NaN,NaN
7314,154,2,2020-02-23,2020-02-23 13:04:00,"EDU- taking class, research, homework",NaN,NaN

In [27]:
# Merge min max datetime data with activities data
sbs_activity_3 = sbs_time.merge(sbs_activity_2[["id", "do", "date", "date_time"]], on=["id", "do", "date"])
# Get end times of states - it is just the start time of the next state
sbs_activity_3["date_time_shift"] = sbs_activity_3.groupby(['id', 'do', 'date'])['date_time'].apply(lambda x: x.shift(-1)).reset_index(drop=True)
# Calculate start of the states and store in date time min. It is the max of the session start or the state start.
sbs_activity_3["date_time_min"] = sbs_activity_3[["date_time_min", "date_time"]].max(axis=1, skipna=True)
# Calculate end of the states and store in date time max. It is the minimum of the session end or the next state start.
sbs_activity_3["date_time_max"] = sbs_activity_3[["date_time_max", "date_time_shift"]].min(axis=1, skipna=True)
# Subset columns
sbs_activity_3 = sbs_activity_3[["id", "do", "date", "date_time_min", "date_time_max"]]
# Calculate time in between states
sbs_activity_3['time_delta'] = sbs_activity_3['date_time_max'] - sbs_activity_3['date_time_min']
# Get a sequence list of all seconds since the start of the state until the end of the state. It will look like [0, 1, 2,...]
sbs_activity_3['seconds_sequence'] = sbs_activity_3['time_delta'].apply(lambda x: list(range(int(x.total_seconds()))))
# Explode the sequence of seconds. We add each second in the list to the start time
# This should result in one row per second for every second in between the session start and end - a second by second table
sbs_activity_3 = sbs_activity_3.drop(['time_delta', 'date_time_max'], axis=1).explode('seconds_sequence')
sbs_activity_3['date_time'] = sbs_activity_3['date_time_min'] + pd.to_timedelta(sbs_activity_3['seconds_sequence'], unit="seconds")
# Subset columns
sbs_activity_3 = sbs_activity_3.drop(['seconds_sequence'], axis=1)
# Display for review
sbs_activity_3

      id  do        date       date_time_min           date_time
0    102   1  2019-07-24 2019-07-24 08:20:19 2019-07-24 08:20:19
0    102   1  2019-07-24 2019-07-24 08:20:19 2019-07-24 08:20:20
0    102   1  2019-07-24 2019-07-24 08:20:19 2019-07-24 08:20:21
0    102   1  2019-07-24 2019-07-24 08:20:19 2019-07-24 08:20:22
0    102   1  2019-07-24 2019-07-24 08:20:19 2019-07-24 08:20:23
..   ...  ..         ...                 ...                 ...
831  154   2  2020-02-23 2020-02-23 13:04:00 2020-02-23 15:55:47
831  154   2  2020-02-23 2020-02-23 13:04:00 2020-02-23 15:55:48
831  154   2  2020-02-23 2020-02-23 13:04:00 2020-02-23 15:55:49
831  154   2  2020-02-23 2020-02-23 13:04:00 2020-02-23 15:55:50
831  154   2  2020-02-23 2020-02-23 13:04:00 2020-02-23 15:55:51

[511819 rows x 5 columns]

In [28]:
# Merge with activity states ground truth. The date time min in the second by second table should match up with the date time in the event table
sbs_activity_4 = sbs_activity_3.merge(sbs_activity_2, left_on=["id", "do", "date", "date_time_min"], right_on=["id", "do", "date", "date_time"])
# Subset and rename columns
sbs_activity_4 = sbs_activity_4.drop(["date_time_min", "date_time_y"], axis=1).rename(columns={
    'date_time_x': 'date_time',
    'do': 'observation'
})
# Display for review
sbs_activity_4

,id,observation,date,date_time,activity_type,exercise_modifier,work_type
0,102,1,2019-07-24,2019-07-24 08:20:19,WRK- general,NaN,SP- Education and Health Services
1,102,1,2019-07-24,2019-07-24 08:20:20,WRK- general,NaN,SP- Education and Health Services
2,102,1,2019-07-24,2019-07-24 08:20:21,WRK- general,NaN,SP- Education and Health Services
3,102,1,2019-07-24,2019-07-24 08:20:22,WRK- general,NaN,SP- Education and Health Services
4,102,1,2019-07-24,2019-07-24 08:20:23,WRK- general,NaN,SP- Education and Health Services
...,...,...,...,...,...,...,...
511814,154,2,2020-02-23,2020-02-23 15:55:47,"EDU- taking class, research, homework",NaN,NaN
511815,154,2,2020-02-23,2020-02-23 15:55:48,"EDU- taking class, research, homework",NaN,NaN
511816,154,2,2020-02-23,2020-02-23 15:55:49,"EDU- taking class, research, homework",NaN,NaN
511817,154,2,2020-02-23,2020-02-23 15:55:50,"EDU- taking class, research, homework",NaN,NaN
511818,154,2,2020-02-23,2020-02-23 15:55:51,"EDU- taking class, research, homework",NaN,NaN

**Step 8:** Merge the second by second posture states with the second by second activity states to get a final second by second file. All that is left to do is to implement the mappings.

In [29]:
sbs_4 = pd.merge(sbs_posture_4, sbs_activity_4, on=['id', 'observation', 'date', 'date_time'])
sbs_4

,id,observation,date,date_time,posture_type,activity_intensity,activity_type,exercise_modifier,work_type
0,102,1,2019-07-24,2019-07-24 08:20:19,LA- stand,NaN,WRK- general,NaN,SP- Education and Health Services
1,102,1,2019-07-24,2019-07-24 08:20:20,LA- stand,NaN,WRK- general,NaN,SP- Education and Health Services
2,102,1,2019-07-24,2019-07-24 08:20:21,LA- stand,NaN,WRK- general,NaN,SP- Education and Health Services
3,102,1,2019-07-24,2019-07-24 08:20:22,LA- stand,NaN,WRK- general,NaN,SP- Education and Health Services
4,102,1,2019-07-24,2019-07-24 08:20:23,LA- stand,NaN,WRK- general,NaN,SP- Education and Health Services
...,...,...,...,...,...,...,...,...,...
511814,154,2,2020-02-23,2020-02-23 15:55:47,SB-sitting,NaN,"EDU- taking class, research, homework",NaN,NaN
511815,154,2,2020-02-23,2020-02-23 15:55:48,SB-sitting,NaN,"EDU- taking class, research, homework",NaN,NaN
511816,154,2,2020-02-23,2020-02-23 15:55:49,SB-sitting,NaN,"EDU- taking class, research, homework",NaN,NaN
511817,154,2,2020-02-23,2020-02-23 15:55:50,SB-sitting,NaN,"EDU- taking class, research, homework",NaN,NaN
511818,154,2,2020-02-23,2020-02-23 15:55:51,SB-sitting,NaN,"EDU- taking class, research, homework",NaN,NaN

# Mappings

## **Broad Activity Type Mapping**

In [30]:
def broad_mapping(row):
    hp = ["SL- sleep", "PC- groom, health-related", "PC- other personal care", "HA- housework", "HA- food prep and cleanup", "HA- interior maintenance, repair, & decoration", "HA- animals and pets", "HA- household management/other household activities","CA- caring for and helping children", "CA- caring for and helping adults"]
    lg = ["HA- exterior maintenance, repair, & decoration", "HA- lawn, garden and houseplants"]
    we = ["WRK- general", "WRK- desk/screen based", "EDU- taking class, research, homework", "EDU- extracurricular", "ORG- church, spiritual", "ORG- volunteer work", "ORG- volunteer", "WRK- screen based"]
    ex = ["EX- participating in sport, exercise or recreation"]
    p = ["PUR- purchasing goods and services"]
    l = ["EAT- eating and drinking, waiting", "LES- socializing, communicating, non-screen based", "LES- screen-based(TV, video game, computer, phone)", "EX- Attending sport, exercise recreation event, or performance", "LES- screen based leisure time (TV, video game, computer)", "LES- socializing, communicating, leisure time not screen", "EX- attending sport, recreational event, or performance"]
    t = ["TRAV- passenger (car/truck/motorcycle)", "TRAV- driver (car/truck/motorcycle)", "TRAV- passenger (bus, train, tram, plane, boat, ship)", "TRAV- general"]
    at = ["TRAV- biking", "TRAV- walking"]

    if row in hp:
        return "household_personal"
    elif row in lg:
        return "lawn_garden"
    elif row in we:
        return "work_education"
    elif row in p:
        return "purchasing"
    elif row in l:
        return "leisure"
    elif row in ex:
        return "exercise"
    elif row in t:
        return "transportation"
    elif row in at:
        return "active_transportation"
    elif row == "OTHER- non codable":
        return "non_codable"
    else:
        return np.nan

## **Change Exercise Modifiers to be More Specific**

In [31]:
# To change exercise modifier using modifier_1 (exercise_modifier)
def ex_mapping(behavior, modifier1):
    if behavior == "EX- participating in sport, exercise or recreation":
        return "EX- %s" %modifier1
    else:
        return behavior

## **Sedentary vs Non-sedentary Mapping**

In [32]:
# Sedentary/non-sedentary postures
def sed_map(row):
    sed = ["SB-sitting", "SB- lying", "LA- kneeling/ squatting"]
    no_sed = ["LA- stretching", "LA- stand", "LA- stand and move", "WA- walk", "WA-walk with load", "WA- ascend stairs", "WA- descend stairs", "WA- running", "SP- bike", "SP- other sport movement", "SP- muscle strengthening"]
    if row in sed:
        return "sedentary"
    elif row in no_sed:
        return "not_sedentary"
    elif row == "private/not coded":
        return "non_codable"
    else:
        return np.nan

## **Walking vs Not Walking Mapping**

In [33]:
def walk_mapping(row):
    not_walk = ["SB-sitting", "SB- lying", "LA- kneeling/ squatting", "LA- stretching", "LA- stand", "LA- stand and move","SP- bike", "SP- other sport movement", "SP- muscle strengthening"]
    if ~pd.isna(row): #To avoid errors with startswith and NaN
      if row.startswith("WA"):
          return "walking"
      elif row in not_walk:
          return "not_walking"
      elif row == "private/not coded":
          return "non_codable"
      else:
          return np.nan
    else:
      return np.nan

## **Intensity Mapping**

In [34]:
def intensity_mapping(behavior, mod2):
    sed = ["SB-sitting", "SB- lying", "LA- kneeling/ squatting"]
    light = ["LA- stand", "LA- stretching"]

    if behavior in sed:
        return "sedentary"
    elif behavior in light:
        return "light"
    elif behavior == "private/not coded":
        return "non_codable"
    else:
        if pd.isna(mod2):
            return np.nan
        else:
            return mod2

## **Apply the Mappings**

In [35]:
def posture_cleanup(s):
    posture = s.split('-')
    if len(posture) > 1:
        return posture[1].strip()
    return s

In [36]:
sbs_5 = sbs_4.copy()
# broad activity
sbs_5["broad_activity_type"] = sbs_5["activity_type"].apply(broad_mapping)
# specific exercise mapping
sbs_5["activity_type"] = sbs_5.apply(lambda x: ex_mapping(x['activity_type'], x['exercise_modifier']), axis=1)
# sedentary vs not
sbs_5["sedentary_not"] = sbs_5["posture_type"].apply(sed_map)
# walking vs not walking
sbs_5["walking_not"] = sbs_5["posture_type"].apply(walk_mapping)
# intensity mapping
sbs_5["activity_intensity"] = sbs_5.apply(lambda x: intensity_mapping(x['posture_type'], x['activity_intensity']), axis=1)
sbs_5['posture'] = sbs_5['posture_type'].apply(posture_cleanup)

In [37]:
sbs = sbs_5[['id', 'observation', 'date', 'date_time', 'activity_type', 'broad_activity_type', 'work_type', 'posture', 'sedentary_not', 'walking_not', 'activity_intensity']]
sbs

,id,observation,date,date_time,activity_type,broad_activity_type,work_type,posture,sedentary_not,walking_not,activity_intensity
0,102,1,2019-07-24,2019-07-24 08:20:19,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light
1,102,1,2019-07-24,2019-07-24 08:20:20,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light
2,102,1,2019-07-24,2019-07-24 08:20:21,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light
3,102,1,2019-07-24,2019-07-24 08:20:22,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light
4,102,1,2019-07-24,2019-07-24 08:20:23,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light
...,...,...,...,...,...,...,...,...,...,...,...
511814,154,2,2020-02-23,2020-02-23 15:55:47,"EDU- taking class, research, homework",work_education,NaN,sitting,sedentary,not_walking,sedentary
511815,154,2,2020-02-23,2020-02-23 15:55:48,"EDU- taking class, research, homework",work_education,NaN,sitting,sedentary,not_walking,sedentary
511816,154,2,2020-02-23,2020-02-23 15:55:49,"EDU- taking class, research, homework",work_education,NaN,sitting,sedentary,not_walking,sedentary
511817,154,2,2020-02-23,2020-02-23 15:55:50,"EDU- taking class, research, homework",work_education,NaN,sitting,sedentary,not_walking,sedentary
511818,154,2,2020-02-23,2020-02-23 15:55:51,"EDU- taking class, research, homework",work_education,NaN,sitting,sedentary,not_walking,sedentary

In [38]:
# Check if there are any NaNs where there shouldn't be
sbs[sbs[["broad_activity_type", "activity_type", "sedentary_not", "walking_not", "activity_intensity", "posture"]].isna().any(axis=1)]

,id,observation,date,date_time,activity_type,broad_activity_type,work_type,posture,sedentary_not,walking_not,activity_intensity
422951,143,1,2019-11-18,2019-11-18 13:02:09,WRK- general,work_education,NaN,walk,not_sedentary,walking,NaN
422952,143,1,2019-11-18,2019-11-18 13:02:10,WRK- general,work_education,NaN,walk,not_sedentary,walking,NaN
422953,143,1,2019-11-18,2019-11-18 13:02:11,WRK- general,work_education,NaN,walk,not_sedentary,walking,NaN
422954,143,1,2019-11-18,2019-11-18 13:02:12,WRK- general,work_education,NaN,walk,not_sedentary,walking,NaN
422955,143,1,2019-11-18,2019-11-18 13:02:13,WRK- general,work_education,NaN,walk,not_sedentary,walking,NaN
...,...,...,...,...,...,...,...,...,...,...,...
444422,143,2,2019-11-16,2019-11-16 13:05:01,"LES- screen based leisure time (TV, video game...",leisure,NaN,stand and move,not_sedentary,not_walking,NaN
444423,143,2,2019-11-16,2019-11-16 13:05:02,"LES- screen based leisure time (TV, video game...",leisure,NaN,stand and move,not_sedentary,not_walking,NaN
444424,143,2,2019-11-16,2019-11-16 13:05:03,"LES- screen based leisure time (TV, video game...",leisure,NaN,stand and move,not_sedentary,not_walking,NaN
444425,143,2,2019-11-16,2019-11-16 13:05:04,"LES- screen based leisure time (TV, video game...",leisure,NaN,stand and move,not_sedentary,not_walking,NaN
444426,143,2,2019-11-16,2019-11-16 13:05:05,"LES- screen based leisure time (TV, video game...",leisure,NaN,stand and move,not_sedentary,not_walking,NaN

In [39]:
# Check to make sure every time is incremented by 1 second
sbs_check_time = sbs.copy()
sbs_check_time["shift"] = sbs_check_time.groupby(["id", "observation"])["date_time"].shift(-1)
(sbs_check_time["shift"] - sbs_check_time["date_time"]).value_counts()

0 days 00:00:01    511771
Name: count, dtype: int64

In [40]:
sbs.to_csv("ACT24_groundtruth_secbysec_20250415.csv", index=False)

In [41]:
sbs["id"].value_counts().sort_index()

id
102    21648
116    19085
117    21691
122    21810
124    21598
126    21611
127    21602
128    21361
129    21616
130    21601
131    21026
132    20506
133    21552
134    20694
135    21611
136    21611
138    17462
139    21604
140    21581
141    21670
143    21602
144    21661
150    24563
154    21053
Name: count, dtype: int64