In [1]:
import pandas as pd
import numpy as np

In [2]:
act_log_df = pd.read_csv("C:/Users/HELIOS-300/Downloads/do_log_final_behavior(in).csv")
am_log_df = pd.read_csv("C:/Users/HELIOS-300/Desktop/Data/DO_LOG_final.csv", encoding='utf-8')

In [5]:
act_log_df.head(20)

,id,do,start_month,start_day,start_year,start_time,stop_time,duration_hrs,duation_min
0,102,1,7,24,2019,8:20:19 AM,11:21:13 AM,3:00:54,180:54:00
1,102,2,7,25,2019,12:42:08 PM,3:42:00 PM,2:59:52,179:52:00
2,116,1,8,20,2019,8:08:45 AM,11:09:00 AM,3:00:15,180:15:00
3,116,2,8,21,2019,11:09:47 AM,1:28:00 PM,2:18:13,138:13:00
4,117,1,8,20,2019,3:17:46 PM,6:18:00 PM,3:00:14,180:14:00
5,117,2,8,21,2019,7:11:45 AM,10:13:00 AM,3:01:15,181:15:00
6,122,1,8,28,2019,10:06:40 AM,1:06:59 PM,3:00:19,180:19:00
7,122,2,8,29,2019,3:19:51 PM,6:23:00 PM,3:03:09,183:09:00
8,124,1,8,28,2019,2:59:09 PM,5:59:05 PM,2:59:56,179:56:00
9,124,2,8,29,2019,9:31:00 AM,12:31:00 PM,3:00:00,180:00:00
10,126,1,9,2,2019,11:14:51 AM,2:15:00 PM,3:00:09,180:09:00
11,126,2,9,6,2019,10:36:07 AM,1:36:07 PM,3:00:00,180:00:00
12,127,1,9,5,2019,4:07:56 PM,7:08:00 PM,3:00:04,180:04:00
13,127,2,9,9,2019,10:56:00 AM,1:56:00 PM,3:00:00,180:00:00
14,128,1,9,6,2019,7:00:00 AM,9:59:59 AM,2:59:59,179:59:00
15,128,2,9,10,2019,1:21:00 PM,4:17:00 PM,2:56:00,176:00:00
16,129,1,9,7,2019,8:55:00 AM,11:55:00 AM,3:00:00,180:00:00
17,129,2,9,10,2019,4:31:45 PM,7:31:59 PM,3:00:14,180:14:00
18,130,1,9,8,2019,5:27:53 PM,8:27:53 PM,3:00:00,180:00:00
19,130,2,9,10,2019,8:02:01 AM,11:02:00 AM,2:59:59,179:59:00

In [6]:
am_log_df.head(20)

,id,obs,type,start_month,start_day,start_year,start_time,stop_time,duration,session
0,AM01,DO2,L,10,3,2017,18:44:45,20:47:00,2:02:15,1
1,AM01,DO1,H,10,6,2017,16:43:57,18:45:00,2:01:03,2
2,AM02,DO1,H,7,24,2017,13:17:10,15:17:32,2:00:22,1
3,AM02,DO2_a,A,7,25,2017,8:00:27,8:52:32,0:52:05,2
4,AM02,DO2_b,A,7,25,2017,8:56:13,10:12:29,1:16:16,3
5,AM03,DO1,L,7,25,2017,14:00:10,16:00:23,2:00:13,1
6,AM03,DO2,H,7,27,2017,13:01:29,15:00:39,1:59:10,2
7,AM04,DO1,W,9,12,2017,12:02:56,14:04:00,2:01:04,1
8,AM04,DO2,A,9,17,2017,14:15:58,16:16:00,2:00:02,2
9,AM05,DO2,L,9,19,2017,19:38:53,21:40:00,2:01:07,1
10,AM06,DO1,E,7,31,2017,8:35:23,10:36:03,2:00:40,1
11,AM06,DO2,A,8,1,2017,8:09:22,10:10:03,2:00:41,2
12,AM07,DO1,H,8,2,2017,9:01:18,11:01:27,2:00:09,1
13,AM07,DO2,E,8,2,2017,11:30:08,13:30:19,2:00:11,2
14,AM08,DO1_a,E,8,3,2017,9:08:47,10:24:09,1:15:22,1
15,AM08,DO1_b,E,8,3,2017,10:26:00,11:10:52,0:44:52,2
16,AM08,DO2,A,8,7,2017,9:30:17,11:30:47,2:00:30,3
17,AM09,DO1,W,8,10,2017,13:26:00,15:08:44,1:42:44,1
18,AM09,DO2,A,8,10,2017,16:18:04,18:18:36,2:00:32,2
19,AM10,DO2,W,8,16,2017,11:19:55,12:38:05,1:18:10,1