In [1]:
import pandas as pd
import numpy as np

In [ ]:
cam_df = pd.read_csv("C:/Users/HELIOS-300/Desktop/WAVES/ACT24 Full Code/Cameron_ACT24_Clean.csv")
cam_df.head()

,id,obs,date,date_time,rel_time,activity_type,broad_domain,waves_domain,posture_wbm,posture_broad,posture_waves,waves_sedentary,intensity,Quality,Step
0,102,1,7/24/2019,2019-07-24 08:21:12,00:00:00,work_general,work_education,work_education,stand,stand_move,mixed_move,active,light,NaN,NaN
1,102,1,7/24/2019,2019-07-24 08:21:13,00:00:01,work_general,work_education,work_education,stand,stand_move,mixed_move,active,light,Codable,0.0
2,102,1,7/24/2019,2019-07-24 08:21:14,00:00:02,work_general,work_education,work_education,stand,stand_move,mixed_move,active,light,Codable,0.0
3,102,1,7/24/2019,2019-07-24 08:21:15,00:00:03,work_general,work_education,work_education,stand,stand_move,mixed_move,active,light,Codable,0.0
4,102,1,7/24/2019,2019-07-24 08:21:16,00:00:04,work_general,work_education,work_education,stand,stand_move,mixed_move,active,light,Codable,0.0

: