In [1]:
import pandas as pd
import numpy as np

In [3]:
am_gt = pd.read_csv("C:/Users/HELIOS-300/Desktop/Data/am_gt_3.csv")
am_gt.head()

,day,id,actual_time,time,coding,primary_behavior,primary_posture,primary_upperbody,primary_intensity,num_postures,transition,posture_coding,broad_activity,detailed_activity,updated_activity,DO_session
0,7/24/2017,AM02,13:17:10,13H 17M 10S,non-sed,HA- housework,private/not coded,unknown,private/not coded,1,0,private/not coded,private/not coded,private/not coded,private/not coded,DO1
1,7/24/2017,AM02,13:17:11,13H 17M 11S,non-sed,HA- housework,private/not coded,unknown,private/not coded,1,0,private/not coded,private/not coded,private/not coded,private/not coded,DO1
2,7/24/2017,AM02,13:17:12,13H 17M 12S,non-sed,HA- housework,private/not coded,unknown,private/not coded,1,0,private/not coded,private/not coded,private/not coded,private/not coded,DO1
3,7/24/2017,AM02,13:17:13,13H 17M 13S,non-sed,HA- housework,private/not coded,unknown,private/not coded,1,0,private/not coded,private/not coded,private/not coded,private/not coded,DO1
4,7/24/2017,AM02,13:17:14,13H 17M 14S,non-sed,HA- housework,LA- stand and move with upper body movement,unknown,light,2,1,LA- stand and move light,mixed-activity,housework,mixed-activity,DO1

In [5]:
with pd.option_context("display.max_rows", None, "display.max_columns", None):
    print(am_gt[["id","DO_session"]].drop_duplicates().sort_values(["id","DO_session"]))

          id DO_session
148625  AM01        DO1
155960  AM01        DO2
0       AM02        DO1
7222    AM02        DO2
10347   AM03        DO1
17560   AM03        DO2
85829   AM04        DO1
93093   AM04        DO2
111962  AM05        DO2
24710   AM06        DO1
31950   AM06        DO2
39191   AM07        DO1
46399   AM07        DO2
53610   AM08        DO1
60824   AM09        DO1
66987   AM09        DO2
74219   AM10        DO2
78909   AM11        DO1
100295  AM12        DO1
107494  AM12        DO2
119229  AM13        DO1
126489  AM13        DO2
133689  AM14        DO1
141366  AM14        DO2
178174  AM15        DO1
185375  AM15        DO2
163223  AM16        DO1
170494  AM16        DO2
192630  AM17        DO1
199916  AM17        DO2
207115  AM18        DO1
214429  AM18        DO2
221689  AM19        DO1
228946  AM19        DO2
236163  AM20        DO1
243483  AM20        DO2
247265  AM21        DO1
253315  AM21        DO2
260746  AM22        DO1
268006  AM22        DO2
275269  AM24        DO1
282529  AM24        DO2
290612  AM25        DO1
297811  AM25        DO2
305014  AM26        DO1
312576  AM26        DO2
318582  AM27        DO1
325782  AM27        DO2