In [26]:
import pandas as pd
import numpy as np

In [27]:
# AM import (both log and behavior)
behav_am_df = pd.read_excel(
    "C:/Users/HELIOS-300/Desktop/Data/am_behposture_onesheet.xlsx",
    engine="openpyxl"
)
log_df = pd.read_csv(
    "C:/Users/HELIOS-300/Desktop/Data/DO_LOG_final.csv",
    encoding="utf-8"
)

# Keep only State start rows (as you’re doing now)
behav_am_df = behav_am_df[behav_am_df["Event_Type"] == "State start"].copy()

# Convert timedelta columns back to time strings (HH:MM:SS format)
# Fixes the "0 days 00:00:00" display issue
for col in behav_am_df.columns:
    if pd.api.types.is_timedelta64_dtype(behav_am_df[col]):
        base_date = pd.Timestamp("1900-01-01")
        behav_am_df[col] = (base_date + behav_am_df[col]).dt.strftime("%H:%M:%S")

# ============================================================
# log_df: special AM setup / cleanup
# ============================================================

# Extract numeric id from log_df['id'] values like "AM02"
log_df["id"] = log_df["id"].astype(str).str.extract(r"AM(\d{2})", expand=False)
log_df["id"] = pd.to_numeric(log_df["id"], errors="coerce").astype("int64")

# Use obs (already formatted like DO2_a, DO2_b, DO1_a, etc.) as authoritative do label
log_df["do"] = log_df["obs"].astype(str).str.strip()

# Fix duplicated DO2 segments for id=11 and id=26 ONLY if they still appear as plain "DO2"
# (In your latest log, these are already DO2_a / DO2_b, so this will do nothing.)
for _id in [11, 26]:
    m = log_df["id"].eq(_id) & log_df["do"].eq("DO2")
    if m.sum() >= 2:
        tmp = log_df.loc[m].copy()
        tmp["_start_td"] = pd.to_timedelta(tmp["start_time"].astype(str).str.strip(), errors="coerce")
        idx_sorted = tmp.sort_values("_start_td", kind="mergesort").index

        if len(idx_sorted) >= 1:
            log_df.loc[idx_sorted[0], "do"] = "DO2_a"
        if len(idx_sorted) >= 2:
            log_df.loc[idx_sorted[1], "do"] = "DO2_b"
        if len(idx_sorted) > 2:
            for j in range(2, len(idx_sorted)):
                log_df.loc[idx_sorted[j], "do"] = f"DO2_b{j-1}"

# ============================================================
# behav_am_df: special AM setup / cleanup
# ============================================================

# id = 2 digits after AM in Observation
behav_am_df["id"] = (
    behav_am_df["Observation"]
    .str.extract(r"AM(\d{2})", expand=False)
    .astype("int64")
)

# do label (DO1, DO1_a, DO1_b, DO2, DO2_a, DO2_b, etc.)
behav_am_df["do"] = (
    behav_am_df["Observation"]
    .str.extract(r"(DO\d+(?:_[ab])?)", expand=False)
    .astype("string")
    .str.strip()
)

# normalize suffix case if it ever appears
behav_am_df["do"] = (
    behav_am_df["do"]
    .str.replace("_A", "_a", regex=False)
    .str.replace("_B", "_b", regex=False)
)

# For behav rows labeled DO2 but log has DO2_a / DO2_b (id=11, id=26),
# split using absolute timestamps (only affects rows where do == "DO2")
behav_am_df["_abs_dt_behav"] = pd.to_datetime(
    behav_am_df["Date_Time_Absolute_dmy_hmsf"],
    errors="coerce"
)

splits = {
    11: pd.Timestamp("2017-09-05 11:03:00"),
    26: pd.Timestamp("2018-02-24 17:13:00"),
}

for _id, cut in splits.items():
    m = (
        behav_am_df["id"].eq(_id)
        & behav_am_df["do"].eq("DO2")
        & behav_am_df["_abs_dt_behav"].notna()
    )
    behav_am_df.loc[m & (behav_am_df["_abs_dt_behav"] < cut), "do"] = "DO2_a"
    behav_am_df.loc[m & (behav_am_df["_abs_dt_behav"] >= cut), "do"] = "DO2_b"

# ============================================================
# NEW: add do_base for both dfs (strip only trailing _a/_b)
# This is what we’ll use for joins + the second-by-second backbone.
# ============================================================

log_df["do_base"] = (
    log_df["do"].astype(str).str.strip()
    .str.replace(r"_(a|b)$", "", regex=True)
)

behav_am_df["do_base"] = (
    behav_am_df["do"].astype(str).str.strip()
    .str.replace(r"_(a|b)$", "", regex=True)
)

# (keep _abs_dt_behav for QC; drop later if you want)
# behav_am_df.drop(columns=["_abs_dt_behav"], inplace=True, errors="ignore")

In [28]:
import pandas as pd
import numpy as np

# ============================================================
# CHUNK 1: behav_am_df -> sec_by_sec using ABSOLUTE time
#
# Rules:
#   - Group key = Observation (treat copyA/copyB as separate by default)
#   - Event start = Date_Time_Absolute_dmy_hmsf (authoritative)
#   - Coverage window per row = [start_sec, start_sec + ceil(Duration_sf)]  (inclusive)
#       (matches your example: 12:00:25 + 78 -> include through 12:01:43)
#   - Second grid per Observation goes from min(start_sec) to max(end_sec)
#   - For each second, pick the LAST-starting event that still covers that second
# ============================================================

df = behav_am_df.copy()

# Ensure datetime
df["Date_Time_Absolute_dmy_hmsf"] = pd.to_datetime(df["Date_Time_Absolute_dmy_hmsf"], errors="coerce")

# Drop rows that cannot anchor in time
df = df.dropna(subset=["Observation", "Date_Time_Absolute_dmy_hmsf"]).copy()

# Floor to seconds for alignment (keeps deterministic sec grid)
df["_start_dt_sec"] = df["Date_Time_Absolute_dmy_hmsf"].dt.floor("s")

# Duration in seconds (ceil), missing -> 0
df["_dur_s"] = pd.to_numeric(df["Duration_sf"], errors="coerce").fillna(0.0)
df["_dur_s_int"] = np.ceil(df["_dur_s"]).astype("int64")

# Inclusive end (IMPORTANT per your rule)
df["_end_dt_sec"] = df["_start_dt_sec"] + pd.to_timedelta(df["_dur_s_int"], unit="s")

# Sort for stable "latest start wins"
df = df.sort_values(["Observation", "_start_dt_sec", "Date_Time_Absolute_dmy_hmsf"], kind="mergesort")

out = []

# Choose columns to carry forward (everything except helpers)
helper_cols = {"_start_dt_sec", "_dur_s", "_dur_s_int", "_end_dt_sec"}
carry_cols = [c for c in df.columns if c not in helper_cols]

for obs, g in df.groupby("Observation", sort=False):
    g = g.copy()

    # Build the second grid using absolute dt
    start_dt = g["_start_dt_sec"].min()
    end_dt   = g["_end_dt_sec"].max()

    # If something is wildly wrong (should be <= ~2 hours), we still build but analysis will flag it
    grid = pd.date_range(start=start_dt, end=end_dt, freq="1s")

    # Prepare arrays for fast lookup
    starts = g["_start_dt_sec"].to_numpy()
    ends   = g["_end_dt_sec"].to_numpy()

    # For each grid second, find last event with start <= t
    # idx = rightmost start <= t
    tvals = grid.to_numpy()
    idx = np.searchsorted(starts, tvals, side="right") - 1

    # Build result frame with empty rows
    res = pd.DataFrame({"Observation": obs, "date_time_abs": grid})
    res["_sec"] = (res["date_time_abs"] - start_dt).dt.total_seconds().astype("int64")
    res["time_abs_hms"] = res["date_time_abs"].dt.strftime("%H:%M:%S")
    res["time_rel"] = pd.to_timedelta(res["_sec"], unit="s").astype(str).str.replace("0 days ", "", regex=False).str.zfill(8)

    # Mark covered seconds: idx>=0 and t <= end_of_that_event
    valid = (idx >= 0)
    valid &= (tvals <= ends[np.maximum(idx, 0)])

    # Attach event row data (latest-starting that still covers)
    # We only assign for covered seconds; uncovered stay NaN for event fields
    if valid.any():
        take_rows = g.iloc[idx[valid]][carry_cols].reset_index(drop=True)
        # Align columns onto res
        for c in take_rows.columns:
            if c in {"Observation"}:
                continue
            res.loc[valid, c] = take_rows[c].to_numpy()

    out.append(res)

sec_by_sec = pd.concat(out, ignore_index=True)

# remove helper-ish columns that might have been carried
sec_by_sec = sec_by_sec.drop(columns=[c for c in ["_dur_s", "_dur_s_int"] if c in sec_by_sec.columns], errors="ignore")

print("sec_by_sec shape:", sec_by_sec.shape)
print("unique Observation:", sec_by_sec["Observation"].nunique())
sec_by_sec.head()

sec_by_sec shape: (424022, 26)
unique Observation: 61

,Observation,date_time_abs,_sec,time_abs_hms,time_rel,Date_Time_Absolute_dmy_hmsf,Date_dmy,Time_Absolute_hms,Time_Absolute_f,Time_Relative_hmsf,...,Modifier_1,Modifier_2,Modifier_3,Modifier_4,Event_Type,Comment,id,do,_abs_dt_behav,do_base
0,AM01DO1_J_FINAL_R,2018-03-07 13:30:26,0,13:30:26,00:00:00,2018-03-07 13:30:26.511,2018-03-07 13:30:26.511,2018-03-07 13:30:26,511.0,00:00:00,...,No movement,NaN,NaN,NaN,State start,NaN,1.0,DO1,2018-03-07 13:30:26.511,DO1
1,AM01DO1_J_FINAL_R,2018-03-07 13:30:27,1,13:30:27,00:00:01,2018-03-07 13:30:26.511,2018-03-07 13:30:26.511,2018-03-07 13:30:26,511.0,00:00:00,...,No movement,NaN,NaN,NaN,State start,NaN,1.0,DO1,2018-03-07 13:30:26.511,DO1
2,AM01DO1_J_FINAL_R,2018-03-07 13:30:28,2,13:30:28,00:00:02,2018-03-07 13:30:26.511,2018-03-07 13:30:26.511,2018-03-07 13:30:26,511.0,00:00:00,...,No movement,NaN,NaN,NaN,State start,NaN,1.0,DO1,2018-03-07 13:30:26.511,DO1
3,AM01DO1_J_FINAL_R,2018-03-07 13:30:29,3,13:30:29,00:00:03,2018-03-07 13:30:26.511,2018-03-07 13:30:26.511,2018-03-07 13:30:26,511.0,00:00:00,...,No movement,NaN,NaN,NaN,State start,NaN,1.0,DO1,2018-03-07 13:30:26.511,DO1
4,AM01DO1_J_FINAL_R,2018-03-07 13:30:30,4,13:30:30,00:00:04,2018-03-07 13:30:26.511,2018-03-07 13:30:26.511,2018-03-07 13:30:26,511.0,00:00:00,...,No movement,NaN,NaN,NaN,State start,NaN,1.0,DO1,2018-03-07 13:30:26.511,DO1

In [29]:
# ------------------------------------------------------------
# Carry forward Behavior + Modifiers + Comment within Observation
# (ffill only; if the first value is NaN, it stays NaN)
# ------------------------------------------------------------

cols_to_ffill = ["Behavior", "Modifier_1", "Modifier_2", "Modifier_3", "Modifier_4", "Comment"]
cols_to_ffill = [c for c in cols_to_ffill if c in sec_by_sec.columns]

sec_by_sec = sec_by_sec.sort_values(["Observation", "date_time_abs"], kind="mergesort")
sec_by_sec[cols_to_ffill] = (
    sec_by_sec.groupby("Observation", sort=False)[cols_to_ffill].ffill()
)

# quick check: NaNs can still exist if the first event is NaN
sec_by_sec[cols_to_ffill].isna().sum()

Behavior           0
Modifier_1     30032
Modifier_2    357069
Modifier_3     46040
Modifier_4    330396
Comment       152803
dtype: int64

In [30]:
# ------------------------------------------------------------
# Keep only the required time columns and rename them
# ------------------------------------------------------------

# Columns to keep (if present)
keep_map = {
    "date_time_abs": "date_time",
    "time_abs_hms": "time",
    "time_rel": "rel_time",
    "Duration_sf": "duration",
}

# Drop other time-based columns if they exist
time_cols_to_drop = [
    "_sec",
    "Date_Time_Absolute_dmy_hmsf",
    "Date_dmy",
    "Time_Absolute_hms",
    "Time_Absolute_f",
    "Time_Relative_hmsf",
    "Time_Relative_hms",
    "Time_Relative_f",
    "Time_Relative_sf",
]

sec_by_sec = sec_by_sec.drop(columns=[c for c in time_cols_to_drop if c in sec_by_sec.columns])
sec_by_sec = sec_by_sec.rename(columns=keep_map)

# ------------------------------------------------------------
# Keep do_base only and rename to do_session
# ------------------------------------------------------------

if "do_base" in sec_by_sec.columns:
    sec_by_sec = sec_by_sec.drop(columns=["do"], errors="ignore")
    sec_by_sec = sec_by_sec.rename(columns={"do_base": "do_session"})

# ------------------------------------------------------------
# Drop QC-only absolute datetime column
# ------------------------------------------------------------

sec_by_sec = sec_by_sec.drop(columns=["_abs_dt_behav"], errors="ignore")

sec_by_sec.head()

,Observation,date_time,time,rel_time,duration,Event_Log,Behavior,Modifier_1,Modifier_2,Modifier_3,Modifier_4,Event_Type,Comment,id,do_session
0,AM01DO1_J_FINAL_R,2018-03-07 13:30:26,13:30:26,00:00:00,35.8486,Event log,LA- stand,No movement,NaN,NaN,NaN,State start,NaN,1.0,DO1
1,AM01DO1_J_FINAL_R,2018-03-07 13:30:27,13:30:27,00:00:01,35.8486,Event log,LA- stand,No movement,NaN,NaN,NaN,State start,NaN,1.0,DO1
2,AM01DO1_J_FINAL_R,2018-03-07 13:30:28,13:30:28,00:00:02,35.8486,Event log,LA- stand,No movement,NaN,NaN,NaN,State start,NaN,1.0,DO1
3,AM01DO1_J_FINAL_R,2018-03-07 13:30:29,13:30:29,00:00:03,35.8486,Event log,LA- stand,No movement,NaN,NaN,NaN,State start,NaN,1.0,DO1
4,AM01DO1_J_FINAL_R,2018-03-07 13:30:30,13:30:30,00:00:04,35.8486,Event log,LA- stand,No movement,NaN,NaN,NaN,State start,NaN,1.0,DO1

In [31]:
# ------------------------------------------------------------
# Last row per Observation (shows final rel_time per session)
# ------------------------------------------------------------

sec_by_sec_last = (
    sec_by_sec.sort_values(["Observation", "date_time"], kind="mergesort")
    .groupby("Observation", sort=False)
    .tail(1)
)

sec_by_sec_last[["Observation", "rel_time", "date_time", "time", "duration"]].head(20)

,Observation,rel_time,date_time,time,duration
7336,AM01DO1_J_FINAL_R,02:02:16,2018-03-07 15:32:42,15:32:42,13.48020
14601,AM01DO2_M_FINAL_R,02:01:04,2018-03-15 12:11:31,12:11:31,639.86900
21825,AM02DO1_J_FINAL_R,02:00:23,2018-03-22 15:42:06,15:42:06,294.88200
24952,AM02DO2_J_copyA_FINAL_R,00:52:06,2018-04-09 16:45:54,16:45:54,1.54829
32666,AM02DO2_J_copyB_FINAL_R,02:08:33,2018-04-09 18:02:21,18:02:21,NaN
39881,AM03DO1_M_FINAL_R,02:00:14,2018-04-03 20:24:14,20:24:14,47.60780
47033,AM03DO2_J_FINAL_R,01:59:11,2018-05-10 15:42:44,15:42:44,266.39700
54301,AM04DO1_J_FINAL_R,02:01:07,2018-05-14 17:44:11,17:44:11,27.14390
61507,AM04DO2_M_FINAL_R,02:00:05,2018-05-15 17:26:31,17:26:31,18.84200
68776,AM05DO2re_R_FINAL_C,02:01:08,2018-08-27 15:09:49,15:09:49,185.40000
76018,AM06DO1_J_FINAL_C,02:00:41,2018-05-17 14:37:27,14:37:27,30.54280
83262,AM06DO2_N_FINAL_C,02:00:43,2018-05-16 12:20:38,12:20:38,21.14320
90473,AM07DO1_R_FINAL_C,02:00:10,2018-07-20 13:43:47,13:43:47,41.10340
97686,AM07DO2_M_FINAL_R,02:00:12,2018-05-21 13:42:09,13:42:09,50.62430
102210,AM08DO1_J_copyA_FINAL_R,01:15:23,2018-06-05 14:36:43,14:36:43,19.67680
109513,AM08DO1_J_copyB_FINAL_R,02:01:42,2018-06-05 15:23:02,15:23:02,32.69080
116745,AM08DO2_J_FINAL_R,02:00:31,2018-05-22 20:20:56,20:20:56,42.72530
123301,AM09DO1_N_FINAL_R,01:49:15,2018-05-23 12:33:56,12:33:56,21.22490
130535,AM09DO2_M_FINAL_R,02:00:33,2018-04-16 11:32:05,11:32:05,141.10000
137796,AM10DO1_R_FINAL_C,02:01:00,2018-07-31 10:21:02,10:21:02,31.07240

In [32]:
# ------------------------------------------------------------
# Split Behavior into Activity_Type and Posture (coded values)
# (Behavior stays as-is; new columns are filled per Observation)
# ------------------------------------------------------------

sec_by_sec["Activity_Type"] = pd.NA
sec_by_sec["Posture"] = pd.NA

beh = sec_by_sec["Behavior"].astype("string").str.strip()
beh_norm = beh.str.lower().str.replace(r"\s+", " ", regex=True)

# Activity type mapping (Behavior -> activity_type code)
activity_map = {
    "sl- sleep": "sleep",
    "pc- groom, health-related": "pc_groom",
    "pc- other personal care": "pc_other",
    "ha- housework": "ha_housework",
    "ha- food prep and cleanup": "ha_food",
    "ha- interior maintenance, repair, & decoration": "ha_interior",
    "ha- exterior maintenance, repair, & decoration": "ha_exterior",
    "ha- lawn, garden and houseplants": "ha_lawn",
    "ha- animals and pets": "ha_pets",
    "ha- household management/other household activities": "ha_other",
    "ca- caring for and helping children": "care_children",
    "ca- caring for and helping adults": "care_adults",
    "wrk- general": "work_general",
    "wrk- screen based": "work_screen",
    "edu- taking class, research, homework": "edu_class",
    "edu- extracurricular": "edu_other",
    "org- organizational civic, volunteer, and religious activities": "com_church",
    "org - volunteer work": "com_volunteer",
    "org- volunteer work": "com_volunteer",
    "pur- purchasing goods and services": "com_purchase",
    "eat- eating and drinking, waiting": "ha_eat",
    "les- socializing, communicating, leisure time not screen": "les_social",
    "les- screen based leisure time (tv, video game, computer)": "les_screen",
    "ex- participating in sport, exercise or recreation": "ex_sport",
    "ex- attending sport, recreational event, or performance": "les_attend",
    "trav- passenger bus or train": "trav_pass",
    "trav- driver (car/truck/motorcycle)": "trav_drive",
    "trav- biking": "trav_bike",
    "trav- walking": "trav_walk",
    "trav-walking": "trav_walk",
    "other- non codable": "non_codable",
}

# Posture mapping (Behavior -> posture code)
posture_map = {
    "sb-sitting": "sitting",
    "sb- lying": "lying",
    "la- kneeling/ squatting": "kneel_squat",
    "la- stretching": "stretch",
    "la- stand": "stand",
    "la- stand and move": "stand_move",
    "la- stand and move with upper body movement": "stand_move",
    "la- stand and move with unidentifiable upper body movement": "stand_move",
    "wa- walk": "walk",
    "wa-walk with load": "walk_load",
    "wa- ascend stairs": "ascend",
    "wa- descend stairs": "descend",
    "wa- running": "running",
    "sp- bike": "biking",
    "sp- other sport movement": "sport_move",
    "sp- muscle strengthening": "muscle_strength",
    "sp -kick": "sport_move",
    "sp- jump": "sport_move",
    "sp- throw": "sport_move",
    "private/not coded": "not_coded",
}

activity_codes = beh_norm.map(activity_map)
posture_codes = beh_norm.map(posture_map)

sec_by_sec.loc[activity_codes.notna(), "Activity_Type"] = activity_codes
sec_by_sec.loc[posture_codes.notna(), "Posture"] = posture_codes

# Carry forward within each Observation
sort_col = "date_time" if "date_time" in sec_by_sec.columns else "date_time_abs"
sec_by_sec = sec_by_sec.sort_values(["Observation", sort_col], kind="mergesort")
sec_by_sec[["Activity_Type", "Posture"]] = (
    sec_by_sec.groupby("Observation", sort=False)[["Activity_Type", "Posture"]].ffill()
)

sec_by_sec[["Behavior", "Activity_Type", "Posture"]].head()

    Behavior Activity_Type Posture
0  LA- stand           NaN   stand
1  LA- stand           NaN   stand
2  LA- stand           NaN   stand
3  LA- stand           NaN   stand
4  LA- stand           NaN   stand

In [33]:
# ------------------------------------------------------------
# Add broad_domain / waves_domain (from Activity_Type)
# Add posture_broad / posture_waves (from posture_wbm)
# ------------------------------------------------------------

# Activity_Type -> domains
activity_domain_map = {
    "sleep": ("sleep", "sleep"),
    "pc_groom": ("household_personal", "personal"),
    "pc_other": ("household_personal", "personal"),
    "ha_housework": ("household_personal", "household"),
    "ha_food": ("household_personal", "household"),
    "ha_interior": ("household_personal", "maintenance_repair"),
    "ha_exterior": ("household_personal", "maintenance_repair"),
    "ha_lawn": ("household_personal", "lawn_garden"),
    "ha_pets": ("household_personal", "household"),
    "ha_other": ("household_personal", "household"),
    "care_children": ("household_personal", "household"),
    "care_adults": ("household_personal", "household"),
    "work_general": ("work_education", "work_education"),
    "work_screen": ("work_education", "work_education"),
    "edu_class": ("work_education", "work_education"),
    "edu_other": ("work_education", "work_education"),
    "com_church": ("purchase_other", "purchase_other"),
    "com_volunteer": ("purchase_other", "purchase_other"),
    "com_purchase": ("purchase_other", "purchase_other"),
    "ha_eat": ("personal", "household_personal"),
    "les_social": ("leisure", "leisure"),
    "les_screen": ("Leisure_Screen", "leisure"),
    "ex_sport": ("exercise", "leisure"),
    "les_attend": ("leisure", "leisure"),
    "trav_pass": ("Trav_car", "transportation"),
    "trav_drive": ("Trav_car", "transportation"),
    "trav_bike": ("active_transportation", "transportation"),
    "trav_walk": ("active_transportation", "transportation"),
    "trav_other": ("transportation", "transportation"),
    "non_codable": ("non_codable", "non_codable"),
}

sec_by_sec["broad_domain"] = sec_by_sec["Activity_Type"].map(lambda x: activity_domain_map.get(x, (pd.NA, pd.NA))[0])
sec_by_sec["waves_domain"] = sec_by_sec["Activity_Type"].map(lambda x: activity_domain_map.get(x, (pd.NA, pd.NA))[1])

# Rename Posture -> posture_wbm if needed
if "Posture" in sec_by_sec.columns and "posture_wbm" not in sec_by_sec.columns:
    sec_by_sec = sec_by_sec.rename(columns={"Posture": "posture_wbm"})

# posture_wbm -> posture_broad / posture_waves
posture_map = {
    "sitting": ("waves_sedentary", "sedentary"),
    "lying": ("sedentary", "sedentary"),
    "kneel_squat": ("sedentary", "mixed_move"),
    "stretch": ("active", "sport"),
    "stand": ("active", "stand_move"),
    "stand_move": ("mixed_move", "active"),
    "walk": ("walk", "active"),
    "walk_load": ("mod_walk", "active"),
    "ascend": ("mod_walk", "active"),
    "descend": ("mod_walk", "active"),
    "running": ("running", "active"),
    "biking": ("biking", "active"),
    "sport_move": ("sport", "active"),
    "muscle_strength": ("sport", "active"),
    "not_coded": ("not_coded", "active"),
}

sec_by_sec["posture_broad"] = sec_by_sec["posture_wbm"].map(lambda x: posture_map.get(x, (pd.NA, pd.NA))[0])
sec_by_sec["posture_waves"] = sec_by_sec["posture_wbm"].map(lambda x: posture_map.get(x, (pd.NA, pd.NA))[1])

# Sitting rule override for posture_waves
is_sitting = sec_by_sec["posture_wbm"].eq("sitting")
trav_mask = sec_by_sec["Activity_Type"].isin(["trav_drive", "trav_pass"])
sec_by_sec.loc[is_sitting & trav_mask, "posture_waves"] = "sed_drive"
sec_by_sec.loc[is_sitting & ~trav_mask, "posture_waves"] = "sedentary"

sec_by_sec[["Activity_Type", "broad_domain", "waves_domain", "posture_wbm", "posture_broad", "posture_waves"]].head()

,Activity_Type,broad_domain,waves_domain,posture_wbm,posture_broad,posture_waves
0,NaN,<NA>,<NA>,stand,active,stand_move
1,NaN,<NA>,<NA>,stand,active,stand_move
2,NaN,<NA>,<NA>,stand,active,stand_move
3,NaN,<NA>,<NA>,stand,active,stand_move
4,NaN,<NA>,<NA>,stand,active,stand_move

In [34]:
# ------------------------------------------------------------
# Final clean dataframe for WAVES
# ------------------------------------------------------------

cols_order = [
    "id",
    "do_session",
    "date_time",
    "time",
    "Modifier_1",
    "Modifier_2",
    "Modifier_3",
    "Modifier_4",
    "Comment",
    "Activity_Type",
    "posture_wbm",
    "broad_domain",
    "waves_domain",
    "posture_broad",
    "posture_waves",
]

waves_df_clean = sec_by_sec[[c for c in cols_order if c in sec_by_sec.columns]].copy()
waves_df_clean.head()

,id,do_session,date_time,time,Modifier_1,Modifier_2,Modifier_3,Modifier_4,Comment,Activity_Type,posture_wbm,broad_domain,waves_domain,posture_broad,posture_waves
0,1.0,DO1,2018-03-07 13:30:26,13:30:26,No movement,NaN,NaN,NaN,NaN,NaN,stand,<NA>,<NA>,active,stand_move
1,1.0,DO1,2018-03-07 13:30:27,13:30:27,No movement,NaN,NaN,NaN,NaN,NaN,stand,<NA>,<NA>,active,stand_move
2,1.0,DO1,2018-03-07 13:30:28,13:30:28,No movement,NaN,NaN,NaN,NaN,NaN,stand,<NA>,<NA>,active,stand_move
3,1.0,DO1,2018-03-07 13:30:29,13:30:29,No movement,NaN,NaN,NaN,NaN,NaN,stand,<NA>,<NA>,active,stand_move
4,1.0,DO1,2018-03-07 13:30:30,13:30:30,No movement,NaN,NaN,NaN,NaN,NaN,stand,<NA>,<NA>,active,stand_move

In [ ]:
# Export cleaned AM data for comparison
output_path = "C:/Users/HELIOS-300/Desktop/WAVES/AM Full Code/Cameron_AM_Clean.csv"
waves_df_clean.to_csv(output_path, index=False)
print(f"Saved: {output_path}")